<div class="block">
  <div class="sowjdNumber pb-4">{{ sowJdDetail?.sowJdNumber }}</div>
  <div class="button-wrappper">
    <div>
      <img
        src="../assets/img/exportPDFImg1.png"
        (click)="downloadPdf()"
        matTooltip="Download PDF"
        style="width: 30px; cursor: pointer"
      />
    </div>

    <button
      mat-button
      class="btn-hover arrow space"
      type="button"
      (click)="doWithdraw('Withdraw')"
      *ngIf="
        permissionDetails?.withdrawPermission &&
        sowJdDetail?.isWithdrawnButtonEnable
      "
    >
      <div class="btn-wrapper">
        <div class="icon">
          <span class="withdraw icon"></span>
        </div>
        <div class="btn-name">Withdraw</div>
      </div>
    </button>
  </div>
</div>

<div class="pb-4" *ngIf="sowJdDetail?.status !== 1">
  <div *ngIf="sowjdId">
    <app-sowjd-approval-process-info
      [sowJdId]="sowjdId"
    ></app-sowjd-approval-process-info>
  </div>
</div>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="isExpanded">
    <mat-nav-list>
      <mat-list-item
        [routerLink]="['./sowjd-info', sowjdId]"
        [routerLinkActive]="['is-active']"
        (click)="setActiveItem('sowjd-info')"
        [ngClass]="activeItem === 'sowjd-info' ? 'highLightCls' : ''"
      >
        <span class="menu-item">Detail</span>
      </mat-list-item>
      <mat-list-item
        [routerLink]="['./sowjd-rfq-list', sowjdId]"
        [routerLinkActive]="['is-active']"
        (click)="setActiveItem('sowjd-rfq-list')"
        [ngClass]="activeItem === 'sowjd-rfq-list' ? 'highLightCls' : ''"
      >
        <span class="menu-item">RFQ-Technical Evaluation</span>
      </mat-list-item>
      <mat-list-item
        [routerLink]="['./sowjd-signoff-list', sowjdId]"
        [routerLinkActive]="['is-active']"
        (click)="setActiveItem('sowjd-signoff-list')"
        [ngClass]="activeItem === 'sowjd-signoff-list' ? 'highLightCls' : ''"
      >
        <span class="menu-item">Technical Discussion and SoW JD Sign Off</span>
      </mat-list-item>
      <mat-list-item
        [routerLink]="['./sowjd-srn-list', sowjdId]"
        [routerLinkActive]="['is-active']"
        (click)="setActiveItem('sowjd-srn-list')"
        [ngClass]="activeItem === 'sowjd-srn-list' ? 'highLightCls' : ''"
      >
        <span class="menu-item">SRN</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="display-content-inner">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
