<div>
  <div *ngIf="showLoading" style="position: absolute;left: 15%;">
    <app-resource-loader-ui></app-resource-loader-ui>
   </div> 
    <div class="row">
      <div class="col-md col-sm">
        <h3 class="title-head">
          <!-- {{ viewData.type }}  -->
          Access Card Deactivate
          <mat-icon style="float: right;" class="curp" (click)="closeBtn()">close</mat-icon>
        </h3>
      </div>
    </div>
    <form [formGroup]="createdForm">
    <div class="row">

        <div class="col-md-12 col-sm mt-1 mb-3">
        
              <!-- <mat-checkbox class="ecCBx cbEc11"  formControlName="ecardCollectedCbx" (change)="cbx($event,'collected')">Employee Card Collected</mat-checkbox>
              <mat-checkbox class="cbEc11" formControlName="ecardeactivatedCbx" (change)="cbx($event,'deactivated')">Employee Card Deactivated</mat-checkbox> -->
        </div>
        <!-- <div class="col-md-6 col-sm mt-2">
            <mat-form-field class="full-width gMFFSelect" appearance="fill">
                <mat-label>Employee card collected on </mat-label>
                <input
                  matInput 
                  [matDatepicker]="pickerCollected"
                  placeholder="Choose a date"
                  readonly
                  (click)="pickerCollected.open()"  formControlName="ecardCollectedDate"  [min]="minDate1"  [max]="maxDateCurrent" (dateChange)="datecDeactivate($event.value)"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="pickerCollected"
                ></mat-datepicker-toggle>
                <mat-datepicker #pickerCollected></mat-datepicker>
              </mat-form-field>
          </div> -->
          <div class="col-md-6 col-sm mt-2">
            <mat-form-field class="full-width gMFFSelect" appearance="fill">
                <!-- <mat-label>Employee card deactivated on </mat-label> -->
                <mat-label>Access card deactivated on </mat-label>
                <input
                  matInput  [min]="minDateDeactivate" [max]="maxDateCurrent"
                  [matDatepicker]="pickerDeactivated"
                  placeholder="Choose a date"
                  readonly  
                  (click)="pickerDeactivated.open()" formControlName="ecardDeactivatedDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="pickerDeactivated"
                ></mat-datepicker-toggle>
                <mat-datepicker #pickerDeactivated></mat-datepicker>
              </mat-form-field>
          </div>
  
      <div class="col-md-12 col-sm mt-2">
        <mat-form-field class="full-width gMFFInput" appearance="fill">
          <mat-label>Remarks</mat-label>
          <textarea matInput style="resize:none" formControlName="ecardRemarks"  (keydown)="restrictFirstSpace($event)"></textarea>
        </mat-form-field>
      </div>
    </div>
  
    <div class="row mt-3">
      <div class="col-md col-sm" style="text-align:right">
        <button mat-stroked-button class="cancelBtn" (click)="cancleBtn()">
          Cancel
        </button>
        <button
          mat-stroked-button
          color="primary"
          class="submitBtn"
          (click)="submitBtn(createdForm)" [disabled]="createdForm.invalid" [ngClass]="createdForm.invalid==false?'submitBtn':'disableBtnClor'"
        >
          Submit
        </button>
      </div>
    </div>
  </form>
  </div>
  