<div>
    <ng-container *ngIf="receivedData.operation != 'delete'">
        <div>
            <h1 class="title" *ngIf="receivedData.operation == 'create'">Create EntityAdmin </h1>
            <h1 class="title" *ngIf="receivedData.operation == 'update'"> Update EntityAdmin </h1>
            <h3 class="error"> {{errorMsg}}</h3>
        </div>
      <form [formGroup]="myForm" class="Form" (ngSubmit)="onSubmit()">

        <mat-form-field class="field">
            <mat-select placeholder="Select EntityId" formControlName="entityId">
            <mat-option *ngFor="let entity of entityList" [value]="entity.id">{{ entity.entityName }}</mat-option>
            </mat-select>
            <mat-error *ngIf="myForm?.get('entityId')?.hasError('required')">EntityId is required</mat-error>
        </mat-form-field>

        <mat-form-field class="field">
            <input matInput placeholder="User NTID" formControlName="entityAdminUser" />
            <mat-error *ngIf="myForm?.get('entityAdminUser')?.hasError('required')">User NTID is
              required</mat-error>
            <mat-error *ngIf="myForm.get('entityAdminUser').hasError('maxlength')">
                Maximum length for User NTID is 50 characters.
            </mat-error>
        </mat-form-field>

        <ng-container>
            <mat-radio-group class="field radioField" formControlName="entityAdminStatus">
              <mat-label>Entity Admin Status:</mat-label>
              <div>          
                  <mat-radio-button [value]=true>Active</mat-radio-button>
                  <mat-radio-button [value]=false>In Active</mat-radio-button>
              </div>
            </mat-radio-group>
            <mat-error *ngIf="myForm?.get('entityAdminStatus')?.hasError('required')">Entity Admin Status is
              required
            </mat-error>
        </ng-container>

      </form>

      <div class="action-btn">
        <button class="cancel-btn" mat-raised-button color="primary" (click)="onClose($event)">
          Cancel
        </button>
        <button class="save-btn" mat-raised-button color="primary" (click)="onSubmit()" type="submit">
          Save
        </button>
      </div>

    </ng-container>
  
    <ng-container *ngIf="receivedData.operation == 'delete'" >
      <h3 class="title">Are you sure want to delete</h3>
      <div class="action-btn">
        <button class="cancel-btn" mat-raised-button color="primary" (click)="onClose($event)">
          Cancel
        </button>
        <button class="save-btn" mat-raised-button color="primary" (click)="onSubmit()" type="submit">
          Delete
        </button>
      </div>
    </ng-container>
  </div>