<div class="main_block">

    <div class="grid_header">
      <div class="left_title">
        <h1 class="grid_title">{{title}}</h1>
      </div>
      <div class="right_buttons">

        <button
          mat-button
          [mat-dialog-close]="true"
          cdkFocusInitial
          class="button-secondary"
          (click)="cancelMaster()"

        >
        Cancel

        </button>


        <button
          mat-button
          [mat-dialog-close]="true"
          cdkFocusInitial
          class="button-primary"
          (click)="saveMaster()"

        >
        Save
        </button>

      </div>
    </div>
  </div>


  <div class="row" *ngIf="errorMessage.length>0">
    <div class="grid_header">
      <span style="color:red">{{ errorMessage}}</span>

    </div>
  </div>

  <div class="row">

    <mat-form-field class="example-full-width" style= "width: 30%;" appearance="fill">
        <mat-label>WBS Element</mat-label>
        <input

          matInput
          placeholder="WBS Element"
          [(ngModel)]="wbsElement"

        />
    </mat-form-field>

    <mat-form-field class="example-full-width" style= "width: 30%;" appearance="fill">
        <mat-label>Description</mat-label>
        <input

          matInput
          placeholder="Description"
          [(ngModel)]="description"

        />
    </mat-form-field>


    <mat-form-field class="example-full-width" style= "width: 30%;" appearance="fill">
        <mat-label>ProjectId</mat-label>
        <input

          matInput
          placeholder="ProjectId"
          [(ngModel)]="projectId"

        />
    </mat-form-field>

</div>


<div class="row">

    <mat-form-field class="example-full-width" style= "width: 30%;" appearance="fill">
        <mat-label>Company Code</mat-label>
        <input

          matInput
          placeholder="Company Code"
          [(ngModel)]="companyCode"

        />
    </mat-form-field>
    <mat-form-field class="example-full-width" style= "width: 30%;" appearance="fill">
        <mat-label>Plant</mat-label>
        <input

          matInput
          placeholder="Plant"
          [(ngModel)]="plant"

        />
    </mat-form-field>

    <mat-form-field class="example-full-width" style= "width: 30%;" appearance="fill">
        <mat-label>Technically Completed</mat-label>
        <input

          matInput
          placeholder="Technically Completed"
          [(ngModel)]="technicallyCompleted"

        />
    </mat-form-field>

</div>
