<div class="main_block">

    <div class="grid_header">
      <div class="left_title">
        <h1 class="grid_title">{{title}}</h1>
      </div>
      <div class="right_buttons">

        <button
          mat-button
          [mat-dialog-close]="true"
          cdkFocusInitial
          class="button-secondary"
          (click)="cancelMaster()"
        >
        Cancel

        </button>


        <button
          mat-button
          [mat-dialog-close]="true"
          cdkFocusInitial
          class="button-primary"
        (click)="saveMaster()"
        >
        Save
        </button>

      </div>
    </div>
  </div>


  <div class="row" *ngIf="errorMessage.length>0">
    <div class="grid_header">
      <span style="color:red">{{ errorMessage}}</span>

    </div>
  </div>

  <div class="row">

    <mat-form-field class="example-full-width" style= "width: 30%;" appearance="fill">
        <mat-label>FM Area</mat-label>
        <input

          matInput
          placeholder="FM Area"
          [(ngModel)]="fmArea"

        />
    </mat-form-field>

    <mat-form-field class="example-full-width" style= "width: 30%;" appearance="fill">
        <mat-label>FundCenter</mat-label>
        <input

          matInput
          placeholder="FundCenter"
          [(ngModel)]="fundCenter"

        />
    </mat-form-field>


    <mat-form-field class="example-full-width" style= "width: 30%;" appearance="fill">
        <mat-label>Fund Center Name</mat-label>
        <input

          matInput
          placeholder="Fund Center Name"
          [(ngModel)]="fundCenterName"

        />
    </mat-form-field>

</div>

<div class="row">

    <mat-form-field class="example-full-width" style= "width: 30%;" appearance="fill">
        <mat-label>Description</mat-label>
        <input

          matInput
          placeholder="Description"
          [(ngModel)]="description"

        />
    </mat-form-field>


    <mat-form-field style="width: 30%" appearance="fill">
      <mat-label>Validity From</mat-label>

        <input matInput [matDatepicker]="validity_startDate" placeholder="Validity From" [(ngModel)]="_validFrom">
        <mat-datepicker-toggle matSuffix [for]="validity_startDate">
          <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #validity_startDate></mat-datepicker>
      </mat-form-field>

      <mat-form-field style="width: 30%" appearance="fill">
        <mat-label>Validity To</mat-label>

        <input matInput [matDatepicker]="validity_endDate" placeholder="Validity To" [(ngModel)]="_validTo">
        <mat-datepicker-toggle matSuffix [for]="validity_endDate">
          <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #validity_endDate></mat-datepicker>
      </mat-form-field>

</div>

