<div>
  <form [formGroup]="createdForm">
    <div *ngIf="showLoading" style="position: absolute;left: 15%;">
      <app-resource-loader-ui></app-resource-loader-ui>
     </div>
   
    <div class="row">
      <div class="col-md col-sm">
        <h3 class="title-head"><b>Extend Date of Joining</b><mat-icon matTooltip="Close" style="float: right;cursor: pointer;" (click)="closeBtn()">close</mat-icon>
        </h3>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6 col-sm mt-2">    

        <mat-form-field class="full-width gMFFSelect" appearance="fill">
            <mat-label>New Date of Joining</mat-label>
            <input  matInput [matDatepicker]="pickerDoj" placeholder="Choose a date" readonly [matDatepickerFilter]="weekendsDatesFilter" (click)="pickerDoj.open()" formControlName="newDateJoiningFormControlName"  [min]="todayDateShow"  [max]="todayDateShowAfterSeven"/>
            <!-- [matDatepickerFilter]="weekendsDatesFilter" -->
            <mat-datepicker-toggle  matSuffix  [for]="pickerDoj"></mat-datepicker-toggle>
            <mat-datepicker #pickerDoj></mat-datepicker>
          </mat-form-field>
      </div>
      <div class="col-md-12 col-sm mt-2">
        <mat-form-field class="full-width gMFFInput" appearance="fill">
          <mat-label>Remarks</mat-label>
          <textarea matInput style="resize:none" formControlName="remarksFormControlName"  (keypress)="restrictFirstChacterSpace($event)"></textarea>
        </mat-form-field>
      </div>
    </div>
  
    <div class="row mt-3">
      <div class="col-md col-sm" style="text-align:right">
        <button mat-stroked-button class="cancelBtn" (click)="cancleBtn()">
          Cancel
        </button>
        <button mat-stroked-button color="primary" class="submitBtn" (click)="submitBtn(createdForm)" [ngClass]="!createdForm.valid?'disableBtnClor':''"  [disabled]="!createdForm.valid">
          Submit
        </button>
      </div>
    </div>
    </form>
  </div>