<div>
  <div *ngIf="showLoading" style="position: absolute;left: 15%;">
    <app-resource-loader-ui></app-resource-loader-ui>
   </div>
    <div class="row">
      <div class="col-md col-sm">
        <h3 class="title-head">
          {{ viewData.type }} 
          <mat-icon style="float: right;" class="curp" (click)="closeBtn()">close</mat-icon>
        </h3>
      </div>
    </div>
    <form [formGroup]="createdForm">
    <div class="row">

        <div class="col-md-12 col-sm">
            <mat-form-field class="full-width gMFFSelect" appearance="fill">
                <mat-label>Last Working Day </mat-label>
                <input
                  matInput
                  [matDatepicker]="pickerLWD"
                  placeholder="Choose a date"
                  readonly [matDatepickerFilter]="weekendsDatesFilter"
                  (click)="pickerLWD.open()" formControlName="extenLWDDate" [min]="minDateLWD" [max]="_tMaxDay"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="pickerLWD"
                ></mat-datepicker-toggle>
                <mat-datepicker #pickerLWD></mat-datepicker>
              </mat-form-field>
        </div>
  
      <div class="col-md-12 col-sm mt-2">
        <mat-form-field class="full-width gMFFInput" appearance="fill">
          <mat-label>Remarks</mat-label>
          <textarea matInput style="resize:none"  formControlName="extenLWDRemarks"  (keydown)="restrictFirstSpace($event)"></textarea>
        </mat-form-field>
      </div>
    </div>
  
    <div class="row mt-3">
      <div class="col-md col-sm" style="text-align:right">
        <button mat-stroked-button class="cancelBtn" (click)="cancleBtn()">
          Cancel
        </button>
        <button
          mat-stroked-button
          color="primary"
          class="submitBtn"
          (click)="submitBtn(createdForm)" [disabled]="createdForm.invalid" [ngClass]="createdForm.invalid==false?'submitBtn':'disableBtnClor'"
        >
          Submit
        </button>
      </div>
    </div>
    </form>
  </div>
  