<div class="main-form">
  <div class="left-form">
      <span class="titlebold">Create First-Level Planning</span>
  </div>
  <div class="right-form1">
    <mat-icon matTooltip="Close" class="close-btn" (click)="onClose($event)"
    >close</mat-icon
  >
  </div>
</div>
<div class="spinner" *ngIf="showLoading">
  <lib-spinner></lib-spinner>
</div>
<div class="erroMessageTag" *ngIf="showErroMessage">
      <span>{{errorMessage}}</span>
</div>
<mat-dialog-content>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div style="width: 25%;text-align: left;">
      <span class="popup-lebel">AOP Id</span><br>
      <span> {{receivedData?.aopPlanningCode}}</span>
    </div>
    <div style="width: 25%;text-align: left;">
      <span class="popup-lebel">Planning Year Id</span><br>
        <span>  {{receivedData?.planningYearId}}</span>
    </div>
    <div style="width: 25%;text-align: left;">
      <span class="popup-lebel">Company Name</span><br>
      <span class="pointer"> 
        {{receivedData?.companyShortName}}
       </span>
    </div>
    <div  style="width: 25%;text-align: left;">
      <span class="popup-lebel">Planning Year</span><br>
         <span> {{receivedData?.cfCycleYear}}</span>
    </div>
  </div>
  <div class="form-row">
 
    <div style="width: 25%;text-align: left;">
      <span class="popup-lebel">CF Cycle</span><br>
        <span> {{receivedData?.cfCycleName}}</span>
    </div>
    <div  style="width: 25%;text-align: left;">
      <span class="popup-lebel">Starting Month</span><br>
         <span>{{receivedData?.planningMonth}}</span>
    </div>
    <div style="width: 25%;text-align: left;">
      <span class="popup-lebel">Planning Start Date</span><br> 
        <span>{{receivedData?.planningStartDate}}</span>
    </div>
    <div style="width: 25%;text-align: left;">
      <span class="popup-lebel">Planning End Date</span><br>
         <span> {{receivedData?.planningEndate}}</span>
    </div>
  </div>
  

  <div class="form-row">
    <div  style="width: 25%;text-align: left;">
      <span class="popup-lebel">USD Exchange </span><br>
        <span>{{receivedData?.exchangeRate | countryCurrency : companyCurrencyName : companyLocale}}</span>
    </div>
    <div  style="width: 25%;text-align: left;">
      <span class="popup-lebel">Currency </span><br>
         <span> {{receivedData?.currencyName}}</span>
    </div>
  </div>
  <div style="display: flex;justify-content:flex-start;align-items: center;">
    <mat-form-field style="width: 50%;">
      <mat-label>Org Level</mat-label>
      <mat-select
        matNativeControl
        formControlName="PlanningOrgLevel"
        (selectionChange)="filterorgLevel($event)">
        <mat-option value=bu>BU</mat-option>
        <mat-option value=section>Section</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="width: 50%;padding: 0 0 0 8px">
      <mat-label>BU/Section</mat-label>
      <mat-select multiple formControlName="Ids" (openedChange)="onOpenChange(multiUserSearch)">
        <input style="padding: 0.95em;" #multiUserSearch type="text" autocomplete="off" 
        matInput placeholder="Search" (input)="onInputChange($event)" (keydown)="handleInput($event)"/>
    
        <mat-option *ngFor="let provider of filteredProviders" [value]="provider.id">{{provider.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field style="width: 100%;padding: 0">
      <mat-label class="popup-lebel">Remarks </mat-label>
      <input maxlength="500" matInput placeholder="Remark" formControlName="Remark"
      (keydown)="space($event)" />
      <mat-error
      *ngIf="
      myForm.controls['Remark'].touched &&
      myForm.controls['Remark'].invalid">Please Fill Remarks
      </mat-error>
    </mat-form-field>
  </div>
  <div class="action-btn">
    <button class="cancel-btn" mat-raised-button color="primary" type="button" (click)="onClose($event)">Cancel</button>
    <button  class="save-btn" mat-raised-button color="primary" type="submit"
    [disabled]="myForm.invalid">Save</button>
  </div>
</form>
</mat-dialog-content>