.title-head {
    font-size: 18px;
    font-weight: 500;
  }
  .actionBtn {
    border-radius: 0;
    width: 130px;
    color: #007BC0;
    border: 1px solid #007BC0;
    font-size: 14px;
    text-align: center;
    background-color: #fff;
  }
  .selectedBtn {
    
    background-color: #004975;
    color: #fff;
  }
  
  .selectedBtn img{
    filter: invert(143%) sepia(237%) saturate(37%) hue-rotate(0deg) brightness(248%) contrast(291%);
  }
  .selectedDefaultItem{
   
    background-color: #008ECF;
    color: #fff;
  }
  .gapSpace {
    margin-right: 0.7rem !important;
    width: 18px;
  }
  .gapSpaceIcon{
    margin-right: 0.3rem !important;
    width: 26px;
  }
  .spanLabel {
    display: block;
    font-weight: 600;
    font-size: 13px;
  }
  .spanText {
    font-weight: normal;
    font-size: 13px;
  }
  .bgClr {
    background-color: #f0f0f0;
    padding: 8px 15px;
  }
  .hrLine {
    border-bottom: 1px solid #c7c7c7;
    margin-bottom: 15px;
  }
  .backArrow {
    cursor: pointer;
    vertical-align: sub;
    color: #004975;
  }
  .desrc{
    width: 170px;
  }
  .curp{
    cursor: pointer;
  }
  .colorStart {
    color: red;
  }
  
  .divChangeCS {
    background: #e6e6e6;
    padding: 10px;
    margin: 16px 0px;
  }

  ::ng-deep .brNone .mat-form-field-underline {
    display: none !important;
  }
  ::ng-deep .brNone .mat-select-arrow-wrapper {
    display: none;
}
.ssp1{
  float: right;
  position: absolute;
  right: 25px;
  top: 88px;
  font-weight: 600;
  font-size: 14px;
  color: darkgreen;
}
.text-green{
  color: green;
}
.text-orange{
  color:#EEC100;
}
.text-red{
  color:#EEC100;
}
.text-blue{
  color:#0061cf;
}
h3{
  font-weight: 600;
  font-family: Bosch Sans;
}
.approveBtnIDCs{
  background-color: #004975;
}
.sendBackBtnIDCs{
  background-color: #004975;
  color:#fff;
}
.sendBackBtnIDCs img{
  filter: invert(98%) sepia(15%) saturate(4%) hue-rotate(198deg) brightness(104%) contrast(100%);
}
.delegateBtnIDCs{
  background-color: #004975;
  color:#fff;
}
.delegateBtnIDCs img{
  filter: invert(98%) sepia(15%) saturate(4%) hue-rotate(198deg) brightness(104%) contrast(100%);
}

.status-details {
  line-height: 28px;
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
}


/** Aproval process line start **/

.md-stepper-horizontal {
  display: table;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
}
.md-stepper-horizontal .md-step {
  display: table-cell;
  position: relative;
  padding: 24px;
  right: 5%;
}

.md-stepper-horizontal .md-step:active {
  border-radius: 15% / 75%;
}
.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {
  display: none;
}
.md-stepper-horizontal .md-step .md-step-circle {
  width: 24px;
  height: 24px;
  margin: 0 auto;
  background-color: #999999;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}
.md-stepper-horizontal .md-step.active .md-step-circle {
  background-color: #007bc0;
}
.md-stepper-horizontal .md-step.in-active .md-step-circle {
  background-color: #c1c7cc;
}
.md-stepper-horizontal .md-step.first-done .md-step-circle {
  background-image: url("../../../assets/icons/checkmark-white.svg");
}
.md-stepper-horizontal .md-step.reject-done .md-step-circle {
  background-image: url("../../../assets/icons/close-white.svg");
}

.md-stepper-horizontal .md-step.first-done .md-step-circle *,
.md-stepper-horizontal .second-done .md-step-circle *,
.md-stepper-horizontal .last-done .md-step-circle * {
  display: none;
}

.md-stepper-horizontal .md-step.second-done .md-step-circle {
  background-image: url("../../../assets/icons/clock-24-7-white.svg");
}

.md-stepper-horizontal .md-step.sent-back .md-step-circle {
  background-image: url("../../../assets/icons/back-menu-gray.svg");
}

.md-stepper-horizontal .md-step.last-done .md-step-circle {
  background-image: url("../../../assets/icons//clock-24-7-gray.svg");
}

.common-icon-align-center {
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
}

.md-stepper-horizontal .md-step .md-step-title {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 600;
}
.md-stepper-horizontal .md-step .md-step-action-by-active {
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
}

.md-stepper-horizontal .md-step .md-step-action-by,
.md-stepper-horizontal .md-step .md-step-action-on {
  text-align: center;
  font-size: 12px;
}

.md-stepper-horizontal .md-step .md-step-title.sent-back {
  color: #eec100;
}
.md-stepper-horizontal .md-step .md-step-title.success {
  color: #006249 !important;
}

.md-stepper-horizontal .md-step .md-step-title.reject {
  color: #ea0016 !important;
}

.md-stepper-horizontal .md-step .md-step-title {
  text-align: center;
  color: rgba(0, 0, 0, 0.26);
}
.md-stepper-horizontal .md-step.active .md-step-title {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.87);
}
.md-stepper-horizontal .md-step.active.first-done .md-step-title,
.md-stepper-horizontal .md-step.active.second-done .md-step-title {
  font-weight: 600;
}
.md-stepper-horizontal .md-step.in-active {
  color: #c1c7cc;
}
.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
  position: absolute;
  top: 36px;
  height: 1px;
  border-top: 1px solid #6a6767;
}
.md-stepper-horizontal .md-step .md-step-bar-right {
  right: 0;
  left: 49%;
  margin-left: 20px;
}
.md-stepper-horizontal .md-step .md-step-bar-left {
  left: 0;
  right: 49%;
  margin-right: 20px;
}
.tgrin span{
  color: #3F8876;
 }
/** Aproval process line end **/
.remarksColapse{
  box-shadow: none;
  border-radius: 0 !important;
  margin: 20px 0 !important;
}
.remarksColapse .mat-expansion-panel-header {
  height: 48px;
  background: #E9E9E9;
}