.title-head {
    font-size: 18px;
    font-weight: 500;
  }
  .colorStart {
    color: red;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: -6px;
  }
  
  ::ng-deep .gMFFInput.mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 2px 2px 0 0 !important;
    padding: 0.45em 0.75em 0 0.75em !important;
    background: #E0E2E5  !important;
  }
  ::ng-deep .gMFFSelect.mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 2px 2px 0 0 !important;
    padding: 0.45em 0.75em 0 0.75em !important;
    background: #E0E2E5  !important;
  }
  .cancelBtn {
    border-radius: 0;
    width: 100px;
    color: #008ECF;
    border: 1px solid #008ECF;
    font-size: 14px;
    margin-right: 1rem;
  }
  
  .submitBtn {
    border-radius: 0;
    width: 100px;
    color: #fff;
    border: 1px solid #008ECF;
    font-size: 14px;
    background-color: #007BC0;
  }

  .disableBtnClor {
    border: 1px solid #cccccc;
    background-color: #C1C7CC;
    cursor: not-allowed;
    color: #000 !important;
  }
  ::ng-deep .submitCheckbox .mat-checkbox-layout .mat-checkbox-label {
        font-size: 12px;
        white-space: normal;
        font-weight: 600;
        line-height: 18px;
    
}
::ng-deep .submitCheckbox .mat-checkbox-inner-container {
    margin: 2px 8px auto 0;
  }
  ::ng-deep .submitCheckbox .mat-checkbox-frame {
    border-color: #8A9097;
    background-color: #8A9097;
  }
@media screen and (min-width:1400px){
    ::ng-deep .submitCheckbox .mat-checkbox-layout .mat-checkbox-label {
        font-size: 14px;
    
}
::ng-deep .submitCheckbox .mat-checkbox-layout .mat-checkbox-label {
    font-size: 14px;

}
}