<div>
  <ng-container *ngIf="receivedData.operation != 'delete'">
    <div>
      <h1 class="title" *ngIf="receivedData.operation == 'create'">
        Create Email Settings
      </h1>
      <h1 class="title" *ngIf="receivedData.operation == 'update'">
        Update Email Settings
      </h1>
      <h3 class="error">{{ errorMsg }}</h3>
    </div>

    <form [formGroup]="myForm" class="Form"(ngSubmit)="onSubmit()">

      <mat-form-field class="field">
        <input matInput placeholder="Feature Code" formControlName="featureCode" />
        <mat-error *ngIf="myForm?.get('featureCode')?.hasError('required')">Feature Code is
          required</mat-error>
      </mat-form-field>

      <mat-form-field class="field">
        <input matInput placeholder="Subject" formControlName="subject" />
        <mat-error *ngIf="myForm?.get('subject')?.hasError('required')">Subject is
          required</mat-error>
      </mat-form-field>

      <mat-form-field class="field">
        <input matInput placeholder="To" formControlName="to" />
        <mat-error *ngIf="myForm?.get('to')?.hasError('required')">To mail Id is
          required</mat-error>
      </mat-form-field>

      <mat-form-field class="field">
        <input matInput placeholder="CC" formControlName="cc" />
        <mat-error *ngIf="myForm?.get('cc')?.hasError('required')">CC mail Id is
          required</mat-error>
      </mat-form-field> 

      <mat-form-field class="field">
        <input matInput placeholder="Reminded In Days" formControlName="remindedInDays" />
        <mat-error *ngIf="myForm?.get('remindedInDays')?.hasError('required')">Reminded In Days is required
          required</mat-error>
      </mat-form-field> 

      <ng-container>
        <mat-radio-group class="field radioField" formControlName="isReminded">
          <mat-label>Is Reminded</mat-label>
          <div>
            <mat-radio-button [value]=true>True</mat-radio-button>
            <mat-radio-button [value]=false>False</mat-radio-button>
          </div>
        </mat-radio-group>
        <mat-error *ngIf="myForm?.get('isReminded')?.hasError('required')">IsReminded is required
        </mat-error>
      </ng-container>


      <ng-container>
        <div class="field">
          <label for="template" class="label custom-file-upload"> Choose File </label>
          <input type="file" id="template" (change)="onFileSelected($event)"  formControlName="template" />
        </div>
        <mat-error *ngIf="myForm?.get('template')?.hasError('required')">*Template File is required
        </mat-error>
        
    </ng-container>

    </form>
    <div class="action-btn">
      <button class="cancel-btn" mat-raised-button color="primary" (click)="onClose($event)">
        Cancel
      </button>
      <button class="save-btn" mat-raised-button color="primary" (click)="onSubmit()" type="submit">
        Save
      </button>
    </div>
  </ng-container>

  <ng-container *ngIf="receivedData.operation == 'delete'">
    <h3>Are you sure want to delete</h3>
    <div class="action-btn">
      <button
        class="cancel-btn"
        mat-raised-button
        color="primary"
        (click)="onClose($event)"
      >
        Cancel
      </button>
      <button
        class="save-btn"
        mat-raised-button
        color="primary"
        (click)="onSubmit()"
        type="submit"
      >
        Save
      </button>
    </div>
  </ng-container>
</div>
