<div class="adjustMH">
  <div *ngIf="showLoading">
    <app-resource-loader-ui></app-resource-loader-ui>
   </div>
  <div class="row rowBg" >
    <div class="col-md-3 col-sm"   (click)="hideCsPopup()">
      <mat-form-field class="full-width gMFFInput" appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput #searchInput (keyup)="applyFilter(searchInput.value,'',false)"  />
        <img matSuffix src="../assets/img/search.png" class="imgSearch" />
      </mat-form-field>
      </div>
<div class="col-md-2 col-sm" >
 
  <span class="curP adjustCSettings" id="csID" (click)="openSettingPopupDeboarding()">
  <span>
    <img src="../assets/img/settings.png" class="imgSettings curP" />
  </span>
  <span class="settingText">Column Settings</span>
  </span>

            <div class="RM-popup" id="myPopup1" >
              <div class="RM-popupoverlaySetting" >
                <div class="RM-popupSet">                 
                    <div class="RM-setting-upArrow">
                      <div class="RM-diag-sub-scroll">
                        <div class="resetFiltercsDiv">
                          <button class="resetFiltercs" (click)="saveAllFilter()"> Save Filters</button>
                          <span (click)="closeColumnSettingsPopup()"><mat-icon>close</mat-icon></span>
                        </div>
                      <div class="RM-popuptext">    
              <div *ngFor="let item of _displayAllCols; let i = index">    
                <input type="checkbox" class="colSetCbx-rm" [id]="item + i" [name]="item" [(ngModel)]="item.Checked" (ngModelChange)="getCheckboxValues($event, item)" /><label [for]="item + i"> {{ getCapitalize(item) }} </label>    
              </div>
            </div> 

            <div>
              <mat-chip-list>
                <mat-chip  class="mchipV" *ngFor="let a of allChilpList;" [removable]="true" (removed)="onToppingRemoved(a)">
                  {{ getCapitalize(a) }} 
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                </mat-chip-list>

            </div>
            <div class="resetFiltercsDiv mt-2" style="justify-content: left;">
           
              <button class="resetFiltercs" (click)="resetAll()"> Reset All Filters</button></div>
                    </div>
                </div>
                </div>
              </div>
            </div> 

</div>
<div class="col-md col-sm"   (click)="hideCsPopup()"></div>
<div class="col-md-2 col-sm adjustExportWdRM" >
  <button (click)="btnExport()" class="buttonExportRM" style="bottom:-13px;">
  <div class="icon-class"><span class="export icon"></span> &nbsp;<span>Export</span></div>
</button>
</div>

<div class="col-md-1 col-sm" >
  <img src="./assets/images/refresh.svg" class="refreshtableR" matTooltip="Refresh Data" (click)="refreshGetData()"/>
</div>
</div>
</div>
<div class="divTableScroll"   (click)="hideCsPopup()">
    <table mat-table [dataSource]="dataSource" matSort class="resourceTbl custTablePaginator">
      <ng-container matColumnDef="crId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span (click)="colNameClick('crId')"  [ngClass]="activeCol=='crId'?'fTextClr' : ''">   Change Request ID</span> 
        <div class="tooltip-v" (click)="$event.stopPropagation()">   <img [src]="sortImg" class="sortImg" (mouseover)="mhoverChangeIcon()"  [ngClass]="activeCol=='crId'?'filterIconHighlightCls' : 'filterIconNotHighlightCls'"  (click)="colNameClick('crId')"/>
            
              <span class="tooltiptext-v" >
            <mat-form-field>
              <mat-label> Change Request ID  </mat-label>
              <mat-select  (selectionChange)="applyEmpFilter2($event, 'crId')" #selectChangeID multiple>
                <input placeholder="Search" class="inputSearchField" #idChangeID matInput type="text" (keyup)="onKeyChangeFilter($event.target.value,'ChangeRequestID')" > 
                <div class="select-all">
                <mat-checkbox [(ngModel)]="allSelectedChangeID" [ngModelOptions]="{ standalone: true }" (change)="toggleAllDDL('ID')">Select All</mat-checkbox>
</div>
                <mat-option  (click)="optionClick('ID')" *ngFor="let op of crIDDetails;" [value]="op">{{ op }}</mat-option>
              </mat-select>
            </mat-form-field>              
          </span>
        </div>
        </th>
        <td mat-cell *matCellDef="let element"  class="b1-clr curP" (click)="linkDetailsPage(element)">
          {{ element.crId }}
        </td>
      </ng-container>
      <ng-container matColumnDef="employeeNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span  (click)="colNameClick('employeeNumber')"  [ngClass]="activeCol=='employeeNumber'?'fTextClr' : ''">  Employee Number</span> 
          <div class="tooltip-v" (click)="$event.stopPropagation()"> <img [src]="sortImg" class="sortImg" (mouseover)="mhoverChangeIcon()" [ngClass]="activeCol=='employeeNumber'?'filterIconHighlightCls' : 'filterIconNotHighlightCls'"  (click)="colNameClick('employeeNumber')" />
            <span class="tooltiptext-v">
          <mat-form-field>
            <mat-label>  Employee Number  </mat-label>
            <mat-select  (selectionChange)="applyEmpFilter2($event, 'employeeNumber')"  #selectEmployeeNumber multiple>
              <input placeholder="Search" class="inputSearchField"  #idEmployeeNumber  matInput type="text" (keyup)="onKeyChangeFilter($event.target.value,'EmployeeNumber')" > 

              <div class="select-all">
                <mat-checkbox [(ngModel)]="allSelectedEmployeeNumber" [ngModelOptions]="{ standalone: true }" (change)="toggleAllDDL('empNumber')">Select All</mat-checkbox>
              </div>           
              <mat-option  (click)="optionClick('empNumber')"  *ngFor="let op of employeeNumberDetails;" [value]="op">{{ op }}</mat-option>
            </mat-select>
          </mat-form-field>              
        </span>
      </div>
        </th>
        <td mat-cell *matCellDef="let element">{{ element.employeeNumber }}</td>
      </ng-container>
      <ng-container matColumnDef="employeeName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span  (click)="colNameClick('employeeName')"  [ngClass]="activeCol=='employeeName'?'fTextClr' : ''">    Employee Name </span>
          <div class="tooltip-v" (click)="$event.stopPropagation()">  <img [src]="sortImg" class="sortImg" (mouseover)="mhoverChangeIcon()"  [ngClass]="activeCol=='employeeName'?'filterIconHighlightCls' : 'filterIconNotHighlightCls'" (click)="colNameClick('employeeName')"/>
            <span class="tooltiptext-v">
          <mat-form-field>
            <mat-label>  Employee Name  </mat-label>
            <mat-select  (selectionChange)="applyEmpFilter2($event, 'employeeName')"  #selectEmployeeName multiple>
              <input placeholder="Search" class="inputSearchField"  #idEmployeeName  matInput type="text" (keyup)="onKeyChangeFilter($event.target.value,'EmployeeName')" >
              <div class="select-all">
                <mat-checkbox [(ngModel)]="allSelectedEmployeeName" [ngModelOptions]="{ standalone: true }" (change)="toggleAllDDL('empName')">Select All</mat-checkbox>
              </div>            
              <mat-option  (click)="optionClick('empName')" *ngFor="let op of employeeNameDetails;" [value]="op">{{ op }}</mat-option>
            </mat-select>
          </mat-form-field>              
        </span>
      </div>
        </th>
        <td mat-cell *matCellDef="let element">{{ element.employeeName }}</td>
      </ng-container>
      <ng-container matColumnDef="vendor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span  (click)="colNameClick('vendor')"  [ngClass]="activeCol=='vendor'?'fTextClr' : ''"> Vendor </span> 
          <div class="tooltip-v" (click)="$event.stopPropagation()"><img [src]="sortImg" class="sortImg" (mouseover)="mhoverChangeIcon()"  [ngClass]="activeCol=='vendor'?'filterIconHighlightCls' : 'filterIconNotHighlightCls'" (click)="colNameClick('vendor')"/>
            <span class="tooltiptext-v">
          <mat-form-field>
            <mat-label> Vendor  </mat-label>
            <mat-select  (selectionChange)="applyEmpFilter2($event, 'vendor')"  #selectVendor multiple>
              <input placeholder="Search" class="inputSearchField"  #idVendor  matInput type="text" (keyup)="onKeyChangeFilter($event.target.value,'Vendor')" >
              <div class="select-all">
                <mat-checkbox [(ngModel)]="allSelectedVendor" [ngModelOptions]="{ standalone: true }" (change)="toggleAllDDL('vendor')">Select All</mat-checkbox>
              </div>             
              <mat-option (click)="optionClick('vendor')"  *ngFor="let op of vendorDetails;" [value]="op">{{ op }}</mat-option>
            </mat-select>
          </mat-form-field>              
        </span>
      </div>
        </th>
        <td mat-cell *matCellDef="let element">{{ element.vendor }}</td>
      </ng-container>
      <ng-container matColumnDef="effectiveFrom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span  (click)="colNameClick('effectiveFrom')"   [ngClass]="activeCol=='effectiveFrom'?'fTextClr' : ''">  Effective From  </span>
            <div class="tooltip-v" (click)="$event.stopPropagation()"> <img [src]="sortImg" class="sortImg" (mouseover)="mhoverChangeIcon()"  [ngClass]="activeCol=='effectiveFrom'?'filterIconHighlightCls' : 'filterIconNotHighlightCls'" (click)="colNameClick('effectiveFrom')"/>
              <span class="tooltiptext-v">
            <mat-form-field>
              <mat-label>  Effective From   </mat-label>
              <mat-select  (selectionChange)="applyEmpFilter2($event, 'effectiveFrom')"  #selectEffectiveFrom multiple>
                <input placeholder="Search" class="inputSearchField"  #idEffectiveform  matInput type="text" (keyup)="onKeyChangeFilter($event.target.value,'EffectiveForm')" >
                <div class="select-all">
                  <mat-checkbox [(ngModel)]="allSelectedEffectiveFrom" [ngModelOptions]="{ standalone: true }" (change)="toggleAllDDL('effectFrom')">Select All</mat-checkbox>
                </div>             
                <mat-option  (click)="optionClick('effectFrom')"   *ngFor="let op of effectiveFormDetails;" [value]="op">{{ op }}</mat-option>
              </mat-select>
            </mat-form-field>              
          </span>
        </div>
        </th>
        <td mat-cell *matCellDef="let element">{{ element.effectiveFrom   |  date: 'dd/MM/yyyy' }}</td>
      </ng-container>
  
     
      <ng-container matColumnDef="deliveryManager">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span  (click)="colNameClick('deliveryManager')"  [ngClass]="activeCol=='deliveryManager'?'fTextClr' : ''">  Delivery Manager   </span>
          <div class="tooltip-v" (click)="$event.stopPropagation()"> <img [src]="sortImg" class="sortImg" (mouseover)="mhoverChangeIcon()"  [ngClass]="activeCol=='deliveryManager'?'filterIconHighlightCls' : 'filterIconNotHighlightCls'"  (click)="colNameClick('deliveryManager')"/>

            <span class="tooltiptext-v">
          <mat-form-field>
            <mat-label>    Delivery Manager   </mat-label>
            <mat-select  (selectionChange)="applyEmpFilter2($event, 'deliveryManager')"  #selectDeliveryManager multiple>
              <input placeholder="Search" class="inputSearchField"  #idDeliveryManager  matInput type="text" (keyup)="onKeyChangeFilter($event.target.value,'Delivery Manager')" >
              <div class="select-all">
                <mat-checkbox [(ngModel)]="allSelectedDeliveryManager" [ngModelOptions]="{ standalone: true }" (change)="toggleAllDDL('deliveryManager')">Select All</mat-checkbox>
              </div>           
             <mat-option (click)="optionClick('deliveryManager')"  *ngFor="let op of deliveryManagerDetails;" [value]="op">{{ op }}</mat-option>
            </mat-select>
          </mat-form-field>              
        </span>
      </div>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.deliveryManager }}
        </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span (click)="colNameClick('status')"  [ngClass]="activeCol=='status'?'fTextClr' : ''"> Status </span> 
          <div class="tooltip-v" (click)="$event.stopPropagation()"><img [src]="sortImg" class="sortImg" (mouseover)="mhoverChangeIcon()"  [ngClass]="activeCol=='status'?'filterIconHighlightCls' : 'filterIconNotHighlightCls'"  (click)="colNameClick('status')"/>
            <span class="tooltiptext-v">
          <mat-form-field>
            <mat-label>Status </mat-label>
            <mat-select  (selectionChange)="applyEmpFilter2($event, 'status')"  #selectStatus multiple>
              <input placeholder="Search" class="inputSearchField"  #idStatus  matInput type="text" (keyup)="onKeyChangeFilter($event.target.value,'Status')" >
              <div class="select-all">
                <mat-checkbox [(ngModel)]="allSelectedStatus" [ngModelOptions]="{ standalone: true }" (change)="toggleAllDDL('status')">Select All</mat-checkbox>
              </div>             
              <mat-option (click)="optionClick('status')"   *ngFor="let op of statusDetails;" [value]="op">{{ op }}</mat-option>
            </mat-select>
          </mat-form-field>              
        </span>
      </div>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.status }}
        </td>
      </ng-container>
      
      <ng-container matColumnDef="more" stickyEnd>
        <th mat-header-cell *matHeaderCellDef  class="trt" style="text-align: right;">&nbsp;Action</th>
        <td mat-cell *matCellDef="let element" class="trt curP">
      
          <span *ngIf="(userDetailsRoles=='/EnricoUsers') && (showApproveSendBackDelegateBtn && (_roleGetPermission.approvePermission || _roleGetPermission.rejectPermission || _roleGetPermission.delegatePermission)) ">

        
          <mat-icon [matMenuTriggerFor]="menuMore" class="curP"  *ngIf="(element.status =='Initiated' || element.status =='ReSubmitted'  || element.status =='First Approval'  || element.status =='Submit' || element.status =='FirstApprove') || (showApproveSendBackDelegateBtn && element.status !='Sent Back' && element.status !='Withdrawn' && element.status !='Approved')">more_vert</mat-icon>

        </span>
     
          <mat-menu #menuMore="matMenu">

            <button mat-menu-item (click)="deOnboardMore(element, 'Approve')" class="b1-clr" 
            
             *ngIf="showApproveSendBackDelegateBtn && _roleGetPermission.approvePermission  && (( (element.status =='Initiated'|| element.status =='ReSubmitted') && checkOnlyDeliveryManager==true && element.firstApprover== userDetails.employeeNumber) || (element.status =='First Approval' && checkOnlySectionSpoc==true  && element.secondApprover== userDetails.employeeNumber))">

              <img src="../assets/img/checkmark-frame_blue.png" class="iniimg1" /> Approve
            </button>
            <button mat-menu-item (click)="deOnboardMore(element, 'Reject')"  class="b1-clr"  *ngIf="showApproveSendBackDelegateBtn && _roleGetPermission.rejectPermission">
              <img src="./assets/img/back-menu.png" class="iniimg1" /> Send Back
            </button>
          
            <button mat-menu-item (click)="deOnboardMore(element, 'Delegate')"  class="b1-clr"  *ngIf="showApproveSendBackDelegateBtn && _roleGetPermission.delegatePermission">
              <img src="./assets/img/arrow-right-frame.png" class="iniimg1" /> Delegate
            </button>
          </mat-menu>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
 
  <mat-paginator
  class="pageCustRange"
  [length]="dataSource.data.length"
  #paginator
  [pageSizeOptions]="[5,10, 25, 50, 100]"
  appStylePaginator  [showTotalPages]="3"
  [hidden]="!dataSource.data.length" 
></mat-paginator>

