.button-primary {
    color: #fff;
   font-family: Bosch-Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    line-height: 8px;
    padding: 12px 16px;
    cursor: pointer;
    width: auto;
    background-color: #008ecf;
    background-size: 100% 200%;
    border-width: 1;
    border-color: transparent;
    border-style: solid;
    border-radius: 0;
    padding:10px 15px;
    margin-right:5px;
   }
 
   .button-secondary {
    color: #008ecf;
     
          font-family: Bosch-Sans;
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     line-height: 10px;
     padding: 11px 15px;
     cursor: pointer;
     width: auto;
     border-width: 1px;
     border-color: #008ecf;
     border-style: solid;
    border-radius: 0;
    padding:11px 15px;
    margin-right:5px
    }
    .showred{
        color: red;
    }