<div>
  <form [formGroup]="createdForm">
    <div *ngIf="showLoading" style="position: absolute;left: 15%;">
      <app-resource-loader-ui></app-resource-loader-ui>
     </div>
   
    <div class="row">
      <div class="col-md col-sm">
        <h3 class="title-head"><b>Approve Onboarding Request</b><mat-icon matTooltip="Close" style="float: right;cursor: pointer;" (click)="closeBtn()">close</mat-icon>
        </h3>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6 col-sm mt-2" *ngIf="viewData.statusdescription =='Submitted' || viewData.status =='Submitted'">       
        <mat-form-field class="full-width gMFFInput" appearance="fill">
          <mat-label>GB Business Area</mat-label>          
          <mat-select formControlName="gbBusinessFormControlName">
          <mat-option [value]="v.gbCode" *ngFor="let v of viewDataGBbusinessList"> {{v.gbCode}}-{{v.gbDescription}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>




<div *ngIf="(viewData?.statusdescription =='Submitted' || viewData?.status =='Submitted')">
  <div class="row">
    <div class="col-md-7 col-sm mt-4">
<table style="width: 100%;position: relative;top: 10px;">
  <tr>
    <td>
      <span class="spanLabel"> Is Resource Access Card required<span class='redClr'>*</span></span>  
    </td>
    <td class="text-right">
      <mat-radio-group class="radioObCs"  formControlName="isResourceAccessCardFormControlName" (change)="isAccessCardChange($event)">
        <mat-radio-button value="true">Yes</mat-radio-button>
        <mat-radio-button value="false" class="pl-2">No</mat-radio-button>
      </mat-radio-group>
    </td>
  </tr>
</table>      
      </div>
      <div class="col-md-5 col-sm mt-4" style="min-height: 60px;">
        <span *ngIf="showHideBuildingAccessLevel">
        <mat-form-field class="full-width gMFFSelect" appearance="fill">
          <mat-label>Building and Floor Access Level</mat-label>
          <input matInput    formControlName="buildingFloorFormControlName" (keydown)="restrictFirstChacterSpaceBuild($event)"/>
        </mat-form-field>
        </span>
      </div>
      </div>
      <div class="row">
        <div class="col-md-7 col-sm mt-2">
          <table style="width: 100%;position: relative;top: 10px;">
            <tr>
              <td>
            <span class="spanLabel" style="color: #b8b8b8;">NT ID required?<span class='redClr'>*</span></span>
          </td>
          <td class="text-right">
              <mat-radio-group class="radioObCs"   formControlName="ntIDrequiredFormControlName">
                <mat-radio-button value="true">Yes</mat-radio-button>
                <mat-radio-button value="false" class="pl-2">No</mat-radio-button>
              </mat-radio-group>
            </td>
          </tr>
        </table> 
          </div>
          <div class="col-md-5 col-sm mt-2">
            <mat-form-field class="full-width gMFFSelect" appearance="fill">
              <mat-label>Device Class</mat-label>
              <mat-select  formControlName="deviceClassFormControlName">
                <mat-option [value]="v.id" *ngFor="let v of viewDataDeviceListt">{{v.deviceName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          </div>
          <div class="row">
            <div class="col-md-7 col-sm mt-2">  <table style="width: 100%;">
              <tr>
                <td>
                <span class="spanLabel">Internet Access required?<span class='redClr'>*</span></span>
              </td>
              <td class="text-right">
                  <mat-radio-group class="radioObCs"  formControlName="internetAccessFormControlName">
                    <mat-radio-button value="true">Yes</mat-radio-button>
                    <mat-radio-button value="false" class="pl-2">No</mat-radio-button>
                  </mat-radio-group>
                </td>
              </tr>
            </table> 
              </div>
              <div class="col-md-5 col-sm mt-2">
        
              </div>
              </div>
              <div class="row mt-4">
                <div class="col-md-7 col-sm mt-1">
                  <table style="width: 100%;">
                    <tr>
                      <td>
                    <span class="spanLabel">Is permission required to send mail<br> outside the company?<span class='redClr'>*</span></span>
                  </td>
                  <td class="text-right">
                      <mat-radio-group class="radioObCs"  formControlName="isPermissionMailOutsideFormControlName">
                        <mat-radio-button value="true">Yes</mat-radio-button>
                        <mat-radio-button value="false" class="pl-2">No</mat-radio-button>
                      </mat-radio-group>
                    </td>
                  </tr>
                </table> 
                  </div>
                  <div class="col-md-5 col-sm mt-2">
            
                  </div>
                  </div>
</div>
  
    <div class="row">
      <div class="col-md-12 col-sm mt-2">
        <mat-form-field class="full-width gMFFInput" appearance="fill">
          <mat-label>Remarks</mat-label>
          <textarea matInput style="resize:none" formControlName="remarksFormControlName"  (keypress)="restrictFirstChacterSpace($event)"></textarea>
        </mat-form-field>
      </div>
    </div>
  
    <div class="row mt-3">
      <div class="col-md col-sm" style="text-align:right">
        <button mat-stroked-button class="cancelBtn" (click)="cancleBtn()">
          Cancel
        </button>
        <button mat-stroked-button color="primary" class="submitBtn" (click)="submitBtn(createdForm)" [ngClass]="!createdForm.valid?'disableBtnClor':''"  [disabled]="!createdForm.valid">
          Submit
        </button>
      </div>
    </div>
    </form>
  </div>