<div class="add-resource-page">
  <div class="header">
    <div class="title">Delegate SRN</div>
    <div class="close-btn">
      <mat-icon matTooltip="Close" (click)="onClose('no')">close</mat-icon>
    </div>
  </div>

  <div class="delegation-message mb-2">{{ delegationMessage }}</div>

  <form [formGroup]="delegateSrn" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col">
        <ng-container>
          <app-delegate-search-bar
            (selectionChangeEvent)="changedEventValue($event)"
            [labelValue]="'Search User'"
            [isRequired]="true"
            [searchPlaceholder]="'name'"
            [searchPlaceholderId]="'ntId'"
          ></app-delegate-search-bar>
        </ng-container>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>Remarks</mat-label>
          <textarea
            matInput
            placeholder="Add remark"
            formControlName="remarks"
          ></textarea>
          <mat-error
            *ngIf="
              delegateSrn.controls['remarks'].invalid &&
              delegateSrn.controls['remarks'].touched
            "
          >
            Please add remarks
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="button-wrappper btn-align">
      <button
        mat-button
        class="btn-hover arrow space"
        type="button"
        (click)="onClose('no')"
      >
        <div class="btn-wrapper">
          <div class="btn-name">Cancel</div>
        </div>
      </button>
      <button
        mat-button
        class="btn-hover-primary arrow space"
        type="submit"
        [disabled]="delegateSrn.invalid"
      >
        <div class="btn-wrapper">
          <div class="btn-name">Submit</div>
        </div>
      </button>
    </div>
  </form>
</div>
