<div class="md-stepper-horizontal" *ngIf="sowJdDetail?.status === 2">
  <div class="md-step active first-done">
    <div class="md-step-circle common-icon-align-center"></div>
    <div class="md-step-title">Submitted</div>
    <div class="md-step-action-by">
      {{ sowJdDetail.deliveryManagerName }}
    </div>
    <div class="md-step-action-on">
      {{ sowJdDetail.submittedDate | date : dateFormat }}
    </div>
    <div class="md-step-bar-left"></div>
    <div class="md-step-bar-right"></div>
  </div>
  <div class="md-step active second-done">
    <div class="md-step-circle common-icon-align-center"></div>
    <div class="md-step-title">Yet to Approve</div>
    <div class="md-step-action-by">
      {{ sowJdDetail.firstLevelApprover }}
    </div>
    <div class="md-step-bar-left"></div>
    <div class="md-step-bar-right"></div>
  </div>
  <div class="md-step in-active last-done">
    <div class="md-step-circle common-icon-align-center"></div>
    <div class="md-step-title">Yet to Approve</div>
    <div class="md-step-action-by">
      {{ sowJdDetail.secondLevelApprover }}
    </div>
    <div class="md-step-bar-left"></div>
    <div class="md-step-bar-right"></div>
  </div>
</div>

<div class="md-stepper-horizontal" *ngIf="sowJdDetail?.status === 5">
  <div class="md-step active first-done">
    <div class="md-step-circle common-icon-align-center"></div>
    <div class="md-step-title">Yet to Submit</div>
    <div class="md-step-action-by">
      {{ sowJdDetail.deliveryManagerName }}
    </div>
    <div class="md-step-bar-left"></div>
    <div class="md-step-bar-right"></div>
  </div>
  <div class="md-step in-active sent-back">
    <div class="md-step-circle common-icon-align-center"></div>
    <div class="md-step-title sent-back">Sent Back</div>
    <div class="md-step-action-by-active">
      <div>
        {{ sowJdDetail.firstLevelApprover }}
      </div>
      <div class="md-step-action-on">
        {{ sowJdDetail.firstLevelActionDate | date : dateFormat }}
      </div>
    </div>
    <div class="md-step-bar-left"></div>
    <div class="md-step-bar-right"></div>
  </div>
  <div class="md-step in-active last-done">
    <div class="md-step-circle common-icon-align-center"></div>
    <div class="md-step-title">Yet to Approve</div>
    <div class="md-step-action-by">
      {{ sowJdDetail.secondLevelApprover }}
    </div>
    <div class="md-step-bar-left"></div>
    <div class="md-step-bar-right"></div>
  </div>
</div>

<div class="md-stepper-horizontal" *ngIf="sowJdDetail?.status === 3">
  <div class="md-step active first-done">
    <div class="md-step-circle common-icon-align-center"></div>
    <div class="md-step-title">Submitted</div>
    <div class="md-step-action-by">
      {{ sowJdDetail.deliveryManagerName }}
    </div>
    <div class="md-step-action-on">
      {{ sowJdDetail.submittedDate | date : dateFormat }}
    </div>
    <div class="md-step-bar-left"></div>
    <div class="md-step-bar-right"></div>
  </div>
  <div class="md-step active first-done">
    <div class="md-step-circle common-icon-align-center"></div>
    <div class="md-step-title success">Approved</div>
    <div class="md-step-action-by">
      {{ sowJdDetail.firstLevelApprover }}
    </div>
    <div class="md-step-action-on">
      {{ sowJdDetail.firstLevelActionDate | date : dateFormat }}
    </div>
    <div class="md-step-bar-left"></div>
    <div class="md-step-bar-right"></div>
  </div>
  <div class="md-step active second-done">
    <div class="md-step-circle common-icon-align-center"></div>
    <div class="md-step-title">Yet to Approve</div>
    <div class="md-step-action-by">
      {{ sowJdDetail.secondLevelApprover }}
    </div>
    <div class="md-step-bar-left"></div>
    <div class="md-step-bar-right"></div>
  </div>
</div>

<div class="md-stepper-horizontal" *ngIf="sowJdDetail?.status === 17">
  <div class="md-step active first-done">
    <div class="md-step-circle common-icon-align-center"></div>
    <div class="md-step-title">Yet to Submit</div>
    <div class="md-step-action-by">
      {{ sowJdDetail.deliveryManagerName }}
    </div>
    <div class="md-step-bar-left"></div>
    <div class="md-step-bar-right"></div>
  </div>
  <div class="md-step in-active last-done">
    <div class="md-step-circle common-icon-align-center"></div>
    <div class="md-step-title">Yet to Approve</div>
    <div class="md-step-action-by">
      {{ sowJdDetail.firstLevelApprover }}
    </div>
    <div class="md-step-bar-left"></div>
    <div class="md-step-bar-right"></div>
  </div>
  <div class="md-step in-active sent-back">
    <div class="md-step-circle common-icon-align-center"></div>
    <div class="md-step-title sent-back">Sent Back</div>
    <div class="md-step-action-by-active">
      <div>
        {{ sowJdDetail.secondLevelApprover }}
      </div>
      <div class="md-step-action-on">
        {{ sowJdDetail.secondLevelActionDate | date : dateFormat }}
      </div>
    </div>
    <div class="md-step-bar-left"></div>
    <div class="md-step-bar-right"></div>
  </div>
</div>

<div class="md-stepper-horizontal" *ngIf="sowJdDetail?.status === 4">
  <div class="md-step active first-done">
    <div class="md-step-circle common-icon-align-center"></div>
    <div class="md-step-title">Submitted</div>
    <div class="md-step-action-by">
      {{ sowJdDetail.deliveryManagerName }}
    </div>
    <div class="md-step-action-on">
      {{ sowJdDetail.submittedDate | date : dateFormat }}
    </div>
    <div class="md-step-bar-left"></div>
    <div class="md-step-bar-right"></div>
  </div>
  <div class="md-step active first-done">
    <div class="md-step-circle common-icon-align-center"></div>
    <div class="md-step-title success">Approved</div>
    <div class="md-step-action-by">
      {{ sowJdDetail.firstLevelApprover }}
    </div>
    <div class="md-step-action-on">
      {{ sowJdDetail.firstLevelActionDate | date : dateFormat }}
    </div>
    <div class="md-step-bar-left"></div>
    <div class="md-step-bar-right"></div>
  </div>
  <div class="md-step active first-done">
    <div class="md-step-circle common-icon-align-center"></div>
    <div class="md-step-title success">Approved</div>
    <div class="md-step-action-by">
      {{ sowJdDetail.secondLevelApprover }}
    </div>
    <div class="md-step-action-on">
      {{ sowJdDetail.secondLevelActionDate | date : dateFormat }}
    </div>
    <div class="md-step-bar-left"></div>
    <div class="md-step-bar-right"></div>
  </div>
</div>

<div
  class="md-stepper-horizontal"
  *ngIf="sowJdDetail?.status === 6 && sowJdDetail?.isFirstLevelwithdrawn"
>
  <div class="md-step active first-done">
    <div class="md-step-circle common-icon-align-center"></div>
    <div class="md-step-title">Submitted</div>
    <div class="md-step-action-by">
      {{ sowJdDetail.deliveryManagerName }}
    </div>
    <div class="md-step-action-on">
      {{ sowJdDetail.submittedDate | date : dateFormat }}
    </div>
    <div class="md-step-bar-left"></div>
    <div class="md-step-bar-right"></div>
  </div>
  <div class="md-step active reject-done">
    <div class="md-step-circle common-icon-align-center"></div>
    <div class="md-step-title reject">Rejected</div>
    <div class="md-step-action-by">
      {{ sowJdDetail.withdrawBy }}
    </div>
    <div class="md-step-action-on">
      {{ sowJdDetail.withdrawDate | date : dateFormat }}
    </div>
    <div class="md-step-bar-left"></div>
    <div class="md-step-bar-right"></div>
  </div>
</div>

<div
  class="md-stepper-horizontal"
  *ngIf="sowJdDetail?.status === 6 && !sowJdDetail?.isFirstLevelwithdrawn"
>
  <div class="md-step active first-done">
    <div class="md-step-circle common-icon-align-center"></div>
    <div class="md-step-title">Submitted</div>
    <div class="md-step-action-by">
      {{ sowJdDetail.deliveryManagerName }}
    </div>
    <div class="md-step-action-on">
      {{ sowJdDetail.submittedDate | date : dateFormat }}
    </div>
    <div class="md-step-bar-left"></div>
    <div class="md-step-bar-right"></div>
  </div>
  <div class="md-step active first-done">
    <div class="md-step-circle common-icon-align-center"></div>
    <div class="md-step-title success">Approved</div>
    <div class="md-step-action-by">
      {{ sowJdDetail.firstLevelApprover }}
    </div>
    <div class="md-step-action-on">
      {{ sowJdDetail.firstLevelActionDate | date : dateFormat }}
    </div>
    <div class="md-step-bar-left"></div>
    <div class="md-step-bar-right"></div>
  </div>
  <div class="md-step active reject-done">
    <div class="md-step-circle common-icon-align-center"></div>
    <div class="md-step-title reject">Rejected</div>
    <div class="md-step-action-by">
      {{ sowJdDetail.withdrawBy }}
    </div>
    <div class="md-step-action-on">
      {{ sowJdDetail.withdrawDate | date : dateFormat }}
    </div>
    <div class="md-step-bar-left"></div>
    <div class="md-step-bar-right"></div>
  </div>
</div>
