<div style="padding: 10px">
  <div class="main_block">
    <div class="grid_header">
        <div class="filterTop">
          <div style="float: left;">
            <mat-form-field style="background: #E0E2E5;width: 198px; float: left;margin-left: -2px;">
              <mat-label style="font-size: 12px;padding-left: 8px;padding-top: 8px;">
                <b>Select Master Data</b></mat-label>
              <mat-select style="padding-left: 8px;" [(ngModel)]="masterDataSelected" (selectionChange)="onMasterDataChange($event)"
               required (openedChange)="onOpenChangeVendor(multiUserSearch)">
                <input style="padding: 0.95em;" #multiUserSearch type="text" autocomplete="off" 
            matInput placeholder="Search" (input)="onInputChangeVendor($event)" (keydown)="handleInput($event)"/>
                <mat-option *ngFor="let masterData of allFeatureDetails" [value]="masterData.featureName">
                  {{ masterData.featureName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      <div class="right_buttons">
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="create()" class="button-secondary" *ngIf=" 
        masterDataSelected != 'Invoice' &&
            selectedMasterAccessRoles?.createPermission
          ">
          <div class="icon-class" style="margin-top: 0px">
            <span class="add icon"></span>&nbsp; <span>Add</span>
          </div>
        </button>
        <button *ngIf="
            masterDataSelected != 'ODC Master' && 
            masterDataSelected != 'Vendor Master' &&
            selectedMasterAccessRoles?.importPermission
          " mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="openDialog()" class="button-secondary">
          <div class="icon-class" style="margin-top: 0px">
            <span class="import icon"></span>&nbsp; <span>Import</span>
          </div>
        </button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="onBtnExport()"
    *ngIf="selectedMasterAccessRoles?.exportPermission" class="button-secondary">
    <div class="icon-class" style="margin-top: 0px">
      <span class="export icon"></span> &nbsp;<span>Export</span>
    </div>
  </button>
  <button mat-button  [mat-dialog-close]="true" cdkFocusInitial (click)="openDeleteDialog()"
  class="button-secondary" *ngIf="
    masterDataSelected != 'Invoice' &&
    selectedMasterAccessRoles?.deletePermission
  ">
  <div class="icon-class" style="margin-top: 0px">
    <span class="delete icon"></span> &nbsp;<span>Delete</span>
  </div>
</button>
        <div *ngIf="isShowApproveAndSendBackButtonsWithDataCheck">
            <button  mat-button [mat-dialog-close]="true" 
                      cdkFocusInitial *ngIf="showApproveButton && selectedMasterAccessRoles?.rejectPermission" 
                      (click)="openApproveOrRejectDialog('reject')" class="button-secondary">
              <div class="icon-class" style="margin-top: 0px" *ngIf="masterDataSelected != 'Invoice'">
                <span class="cancel icon"></span> &nbsp;<span>Send Back</span>
              </div>
            </button>
        </div>
        <div *ngIf="!isShowApproveAndSendBackButtonsWithDataCheck">
          <button [disabled]="!isShowApproveAndSendBackButtonsWithDataCheck" mat-button-disable [mat-dialog-close]="true" 
                    cdkFocusInitial *ngIf="showApproveButton && selectedMasterAccessRoles?.rejectPermission" 
                    (click)="openApproveOrRejectDialog('reject')" class="button-secondary-disable">
            <div class="icon-class" style="margin-top: 0px" *ngIf="masterDataSelected != 'Invoice'">
              <span class="sendbackgrey icon"></span> &nbsp;<span>Send Back</span>
            </div>
          </button>
        </div>

        <div *ngIf="isShowApproveAndSendBackButtonsWithDataCheck">
          <button mat-button [mat-dialog-close]="true" cdkFocusInitial *ngIf="
          showApproveButton && selectedMasterAccessRoles?.approvePermission 
            " (click)="openApproveOrRejectDialog('approved')" class="button-secondary">
            <div class="icon-class" style="margin-top: 0px" *ngIf="masterDataSelected != 'Invoice'">
              <span class="approve icon"></span> &nbsp;<span>Approve</span>
            </div>
          </button>
        </div>

        <div *ngIf="!isShowApproveAndSendBackButtonsWithDataCheck">
          <button mat-button-disable [disabled]="!isShowApproveAndSendBackButtonsWithDataCheck" [mat-dialog-close]="true" cdkFocusInitial *ngIf="
          showApproveButton && selectedMasterAccessRoles?.approvePermission 
            " (click)="openApproveOrRejectDialog('approved')" class="button-secondary-disable">
            <div class="icon-class" style="margin-top: 0px" *ngIf="masterDataSelected != 'Invoice'">
              <span class="approvegrey icon"></span> &nbsp;<span>Approve</span>
            </div>
          </button>
          
        </div>

        <button *ngIf="
            masterDataSelected == 'Vendor Master' &&
            selectedMasterAccessRoles?.importPermission
          " mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="openDialog()" class="button-secondary">
          <div class="icon-class" style="margin-top: 0px">
            <span class="import icon"></span>&nbsp; <span>Vendor</span>
          </div>
        </button>

        <button *ngIf="
            masterDataSelected == 'Vendor Master' &&
            selectedMasterAccessRoles?.importPermission
          " mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="openDialogVendorContact()"
          class="button-secondary">
          <div class="icon-class" style="margin-top: 0px">
            <span class="import icon"></span>&nbsp; <span>Contact</span>
          </div>
        </button>
      </div>
    </div>
  </div>

  <div class="filterTopPortion">
    <div class="searchOptions">
      <div class="textBox">
        <input type="text" [(ngModel)]="searchText" placeholder="Search" (input)="onSearch()" />
        <span class="searchblack paddings">&nbsp;&nbsp;&nbsp;&nbsp;</span>
      </div>
      <div
      class="multiSelectDropDownSearch"
      (click)="onDropdownClick($event)"
    >
      <div class="dropdown">
        <button class="button-columnsettings" (click)="toggleDropdown()">
          <div
            class="columnSettingsSection"
            (click)="setActiveItem('MD-info')"
            [ngClass]="activeItem === 'MD-info' ? 'highLightCls' : ''"
          >
            <span class="settingsblack_planning"
              >&nbsp;&nbsp;&nbsp;&nbsp;</span
            >
            <span>Column Settings</span>
          </div>
        </button>
        <div
          class="triangle"
          [ngClass]="{ show: dropdownVisible }"
          *ngIf="dropdownVisible"
        ></div>

        <div
          class="dropdown-menu"
          [ngClass]="{ show: dropdownVisible }"
          *ngIf="dropdownVisible"
        >
          <div class="saveConfigHeader">
            <span class="selectColoumnTitle">Select Column</span>
            <div class="save-button" (click)="SaveSelectedGrid()">
              Save Filter
            </div>
          </div>
          <div class="saveConfigCheckBox">
            <div *ngFor="let option of columnDefs">
              <div class="custom__options" *ngIf="showToColumnBox(option.field)">
                <mat-checkbox *ngIf="showToColums(option.field)" class="small-checkbox" [(ngModel)]="!option.hide"
                  (ngModelChange)="toggle(option.field)">
                  {{ option.field }}
                </mat-checkbox>
              </div>
            </div>
          </div>
          <div class="saveConfigResetFilters">
            <div class="column-settings-footer">
              <div class="save-button" (click)="selectAllColumns()">
                Select All
              </div>
              <div class="save-button" (click)="unSelectAllColumns()">
                Unselect All
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!-- <div class="multiSelectDropDownSearch" (click)="onDropdownClick($event)">
        <div class="dropdown">
          <button class="button-columnsettings" (click)="toggleDropdown()">
            <div class="columnSettingsSection">
              <span class="settingsblack_planning">&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <span>Column Settings</span>
            </div>
          </button>
          <div class="triangle" [ngClass]="{ show: dropdownVisible }" *ngIf="dropdownVisible"></div>
  
          <div class="dropdown-menu" [ngClass]="{ show: dropdownVisible }" *ngIf="dropdownVisible">
            <div class="saveConfigHeader">
              <span class="selectColoumnTitle">Select Column</span>
              <span class="close-small-icon icon" (click)="closeDropdown()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </div>
  
            <div class="saveConfigCheckBox">
              <div *ngFor="let option of columnDefs">
                <div class="custom__options" *ngIf="showToColumnBox(option.field)">
                  <mat-checkbox *ngIf="showToColums(option.field)" class="small-checkbox" [(ngModel)]="!option.hide"
                    (ngModelChange)="toggle(option.field)">
                    {{ option.field }}
                  </mat-checkbox>
                </div>
              </div>
            </div>
  
            <div class="saveConfigResetFilters">
              <button class="save-btn" mat-button>
                <span (click)="resetAllColumnsInConfig()">Reset</span>
              </button>
              <button class="save-btn" mat-button>
              <span class="saveFilterTitle" (click)="SaveSelectedGrid()">Save</span>
            </button>
            </div>
          </div>
        </div>
      </div> -->
    </div>
    <div class="filterTopPortion1"> 
    <div style="padding: 0 0">
      <mat-form-field style="width: 28%; float: right;">
        <mat-label style="font-size: 12px">
          Page Size</mat-label>
        <mat-select [(ngModel)]="paginationPageSize" (selectionChange)="OnPageSizeChange($event)">
          <mat-option [value]=5>5 </mat-option>
          <mat-option [value]=10>10 </mat-option>
          <mat-option [value]=15>15 </mat-option>
          <mat-option [value]=20>20 </mat-option>
          <mat-option [value]=25>25 </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div style="padding: 0 0.95em;">
      <span class="refresh" title="Refresh data" (click)="getMasterdata()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </div>
  </div>
  </div>
  <div style="display:inline-flex" *ngIf="filterChipsSets && filterChipsSets.length>0">
    <div class="p-2"><b>Filter applied on: </b> </div>
   <div>  <mat-chip-list #chipList>
      <mat-chip *ngFor="let f of filterChipsSets" (removed)="removeChips(f)">
        {{ getCapitalize(f)  }} 
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>   
    </mat-chip-list>
  </div>
    <div class="save-button1 p-2" (click)=" saveChipsFilters()">  Save Filters </div>
    <div class="save-button1 p-2" (click)=" ClearAllChipsFilters()">  Clear Filters </div>
  </div>


  <div *ngIf="showGrid">
    <div class="mainMasterGrid">
      <ag-grid-angular 
      #masterGrid 
      id="masterGrid" 
      class="ag-theme-alpine" 
      rowAnimation 
      [pagination]="true"
      [columnDefs]="columnDefs" 
      [gridOptions]="gridOptions"
      [defaultColDef]="defaultColDef" 
      [autoGroupColumnDef]="autoGroupColumnDef"
      [rowSelection]="'multiple'" 
      [rowData]="rowDataWithSearch" 
      [paginationPageSize]="paginationPageSize"
    
      (gridReady)="onGridReady($event)"
      (cellClicked)="onCellClicked($event)" 
      (firstDataRendered)="onFirstDataRendered($event)"
      [suppressMenuHide]="true" 
      [overlayNoRowsTemplate]="overlayNoRowsTemplate"
      (filterChanged)="onFilterChanged($event)"
      (horizontalScroll)="onHorizontalScroll($event)"
      (sortChanged)="onSortChanged($event)">
    </ag-grid-angular>
    </div>
  </div>
</div>
