body {
  background-color: #fff;
}

:host ::ng-deep .mat-form-field-type-mat-native-select .mat-input-element {
  padding-right: 15px;
  font-size: 12px;
}

:host ::ng-deep textarea.mat-input-element {
  padding: 0px 0;
  margin: -8px 0;
}

:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #e5e0e4;
  display: inline-block;
  position: relative;
  text-align: left;
  width: auto;
  margin-left: 2px;
  /* padding: 0em; */
  padding-left: 0.25em;
  padding-top: 0px;
  border-radius: 0px;
}
.button-primary {
  color: white;
  font-family: Bosch-Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  line-height: 14px;
  padding: 12px 16px;
  cursor: pointer;
  width: auto;
  background-color: #007bc0;
  background-size: 100% 200%;
  border-width: 1;
  border-color: transparent;
  border-style: solid;
  border-radius: 0;
  padding: 8px 15px;
  margin-right: 5px;
}

.button-secondary {
  color: #007bc0;
  font-family: Bosch-Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  line-height: 24px;
  cursor: pointer;
  width: 120px;
  border-width: 1px;
  border-color: #007bc0;
  border-style: solid;
  border-radius: 0;
  padding: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}
// .button-secondary:hover{
//   background-color: #004975;
//   color: #fff;
// }
.button-secondary-disable {
  color: grey;
  font-family: Bosch-Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  line-height: 24px;
  cursor: pointer;
  width: 120px;
  border-width: 1px;
  border-color: none;
  border-style: solid;
  border-radius: 0;
  padding: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.icon-class-action {
  display: flex;
  align-items: center;
}

.icon-class {
  display: flex;
  align-items: center;
  // justify-content: space-evenly;
  margin-top: 10px;
}

.mat-option.mat-selected {
  background: #007bc0 !important;
  color: #fff !important;
}
.block_button1 {
  color: #007bc0;
  background-color: white;
  // margin: 0.25em;
  font-weight: 580;
  font-size: 10px;
  height: 30px;
  line-height: 32px;
  padding-bottom: 32px;
  border-radius: 0px !important;
  border-color: #007bc0;
  border: 1px solid #007bc0;
}
//    :host ::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {

//         color: white !important;
//     }
.block_button1:hover {
  color: white;
  background-color: #007bc0;
  // margin: 0.25em;
  font-weight: 580;
  font-size: 10px;
  height: 30px;
  padding-bottom: 33px;
  border-radius: 0px !important;
  border: 1px solid #007bc0;
}
.block_button {
  color: white;
  background-color: #007bc0;
  margin: 4.25em;
  font-weight: 580;
  font-size: 14px;
  height: 30px;
  padding-bottom: 35px;
  border-radius: 0px !important;
}
:host ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 1px;
}

:host ::ng-deep .mat-form-field-underline {
  /* position: absolute;*/
  width: 0%;
  /* pointer-events: none; */
  /* transform: scale3d(1, 1.0001, 1); */
}
.main_block {
  margin: 0px;
  padding: 0px;
  background-color: #fff;
}
.main__form {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}
.left__portion {
  border: 1px solid lightgray;
  padding: 20px;
  font-family: "Poppins", sans-serif;
}

:host ::ng-deep.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  display: block;
  height: 37px;
  -webkit-tap-highlight-color: #007bc0;
  width: 100%;
  padding: 0;
}

mat-selection-list {
  height: 77vh;

  outline: none;
}
::ng-deep.mat-pseudo-checkbox {
  display: none !important;
}

.selected {
  background-color: #007bc0;
  color: white !important;
}
// :host ::ng-deep.mat-list-item.mat-list-single-selected-option {
//     background: #FF0000;
//   }
//   mat-list-option[aria-selected="false"] {
//     background: #fff;
//   }
//   .selected{
//     background-color: Red;
//     color:green;
//   }
.selected span {
  color: white !important;
  // font-size:20px;
  // background-color: yellow;
}
.my_class {
  background-color: #003b6a;
}

.right__portion {
  /* width:100%; */
  flex-grow: 1;
  margin-left: 10px;
  border: 2px solid #ccc;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.grid_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
}
.button-primary {
  color: #fff;
  font-family: Bosch-Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  line-height: 24px;
  padding: 12px 16px;
  cursor: pointer;
  width: auto;
  background-color: #007bc0;
  background-size: 100% 200%;
  border-width: 1;
  border-color: transparent;
  border-style: solid;
  border-radius: 0;
  padding: 11px 15px;
  margin-right: 5px;
}
:host ::ng-deep.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #003c6a;
}
.right_buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}
.page_header {
  color: black;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

.bread_crum {
  color: #a7a7a7;
  color: gray;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}
.grid_title {
  font-weight: 1000;
  color: black;
  font-size: 22px;
}

.ag-theme-alpine {
  // --ag-background-color: black;
  --ag-odd-row-background-color: white;
  --ag-font-siz: 40px;
  // --ag-header-foreground-color:black;
  --ag-header-foreground-color: gray;
  --ag-header-background-color: white;

  // --ag-header-column-separator-display: block;/

  // --ag-row-border-color: transparent;
}

.ag-root-wrapper {
  border: none !important;
}
.ag-paging-panel {
  border: none !important;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
}

.ag-paging-button {
  background-color: #e0e0e0;
  color: #333;
  border: none;
  padding: 5px 10px;
  margin: 0 2px;
  cursor: pointer;
}

// .ag-theme-alpine {
//   // --ag-background-color: black;
// }
.ag-header-cell {
  /* Override header cell styles here */
  background-color: white;
  color: black;
}

.multpiSelectDropDownSearch {
  position: relative;
  width: 64px;
  z-index: 10;
}

// .block_button::before,
// .block_button::after,
// .block_button{
//     color: #71cbe9;
//     background-color:white;
//     border: 2px solid #71cbe9;
//     margin: 0.25em;
//     font-weight:580;
//     font-size: 10px;
// }

.block_button_Settings {
  color: #71cbe9;
  background-color: white;
  border: 2px solid #71cbe9;
  margin: 0.25em;
  font-weight: 580;
  font-size: 10px;
}
.dropdown-search {
  border: 1px solid #003b6a;
  outline: #003b6a;
  padding: 10px 15px;
  margin: 10px 20px;
  border-radius: 10px;
}
.emptydiv {
  height: 50px;
  border-bottom: 2px solid #003b6a;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.custom__options {
  margin: 5px 5px;
}

.custom__label {
  font-size: 10px;
  color: gray;
  margin-left: 10px;
}

#text {
  color: gray;
}
#select_count {
  font-weight: 800;
  margin-right: 10px;
}

.dropdown-options {
  height: 130px;
  overflow-y: scroll;
  background-color: #eff1f2;
}
:host ::ng-deep.mat-checkbox-layout .mat-checkbox-label {
  line-height: 24px;
  color: black;
}

.save__config__button {
  padding: 5px 20px;
  border-radius: 5px;
  background-color: #335d88;
  background-color: gray;
  color: white;
  border: none;
}

.Upload__file__span {
  font-size: 15px;
}

.filterTopPortion {
background: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px; 
  margin-bottom: 10px;
  // border: 1px solid #e5e0e4;

}
.filterTopPortion1 {

  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px; 
  margin-bottom: 10px;
  // border: 1px solid #e5e0e4;

}
.filterTop{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100%;
    margin-left:3px;
    
}

.companyCode {
  width: 15% ; 
  max-width: 15%;
  float: "left";
}

:host ::ng-deep .mat-dialog-container {
  display: block;
  padding: 24px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  min-width: 500px;
  width: 100%;
  height: 100%;
  min-height: inherit;
  max-height: inherit;
}

.col-md-4 {
  width: 33.33333333%;
  float: left;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  background-color: #fff;
}
.button-primary {
  color: white;
  font-family: Bosch-Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  line-height: 14px;
  padding: 12px 16px;
  cursor: pointer;
  width: auto;
  background-color: #007bc0;
  background-size: 100% 200%;
  border-width: 1;
  border-color: transparent;
  border-style: solid;
  border-radius: 0;
  padding: 8px 15px;
  margin-right: 5px;
}

.block_button1 {
  color: #007bc0;
  background-color: white;
  font-weight: 580;
  font-size: 10px;
  height: 30px;
  line-height: 32px;
  padding-bottom: 32px;
  border-radius: 0px !important;
  border-color: #007bc0;
  border: 1px solid #007bc0;
}

.block_button1:hover {
  color: white;
  background-color: #007bc0;
  font-weight: 580;
  font-size: 10px;
  height: 30px;
  padding-bottom: 33px;
  border-radius: 0px !important;
  border: 1px solid #007bc0;
}
.block_button {
  color: white;
  background-color: #007bc0;
  margin: 4.25em;
  font-weight: 580;
  font-size: 14px;
  height: 30px;
  padding-bottom: 35px;
  border-radius: 0px !important;
}

.main_block {
  margin: 0px;
  padding: 0px;
  background-color: #fff;
}
.main__form {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}
.left__portion {
  border: 1px solid lightgray;
  padding: 20px;
  font-family: "Poppins", sans-serif;
}

:host ::ng-deep.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  display: block;
  height: 37px;
  -webkit-tap-highlight-color: #007bc0;
  width: 100%;
  padding: 0;
}

mat-selection-list {
  height: 77vh;

  outline: none;
}
::ng-deep.mat-pseudo-checkbox {
  display: none !important;
}

.selected {
  background-color: #007bc0;
  color: white !important;
}

.selected span {
  color: white !important;
}
.my_class {
  background-color: #003b6a;
}

.right__portion {
  /* width:100%; */
  flex-grow: 1;
  margin-left: 10px;
  border: 2px solid #ccc;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.grid_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
}
.button-primary {
  color: #fff;
  font-family: Bosch-Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  line-height: 24px;
  padding: 12px 16px;
  cursor: pointer;
  width: auto;
  background-color: #007bc0;
  background-size: 100% 200%;
  border-width: 1;
  border-color: transparent;
  border-style: solid;
  border-radius: 0;
  padding: 11px 15px;
  margin-right: 5px;
}
:host ::ng-deep.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #003c6a;
}
.right_buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}
.page_header {
  color: black;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

.bread_crum {
  color: #a7a7a7;
  color: gray;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}
.grid_title {
  font-weight: 1000;
  color: black;
  font-size: 22px;
}

// .ag-theme-alpine {
//   --ag-background-color: white;
//   --ag-odd-row-background-color: white;
//   --ag-font-siz: 12px;
//   --ag-header-foreground-color:black;
// }

.multiSelectDropDownSearch {
  position: relative;
  width: 64px;
  z-index: 10;
  margin-top: 9px;
}

.dropdown-menu {
  position: absolute;
  top: 50px;
  right: -400px;
  background-color: white;
  // border: 1px solid lightgray;
  margin-top: 5px;
  z-index: 10;
  min-width: 550px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  // width:auto;
  border:none;
}

.dropdown-triangle {
  position: absolute;
  top: 45px;
  left: 83px;
  width: 35px;
  height: 35px;
  transform: rotate(45deg);
  // background-color:blue;

  // z-index: 10;
  // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.triangle {
  position: absolute;
  left: 65px;
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 60px solid #fffffe;
  z-index: 20;
  // border-bottom: 60px solid rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; /* Replace 'red' with your desired triangle color */
  // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.block_button_Settings {
  color: #71cbe9;
  background-color: white;
  border: 2px solid #71cbe9;
  margin: 0.25em;
  font-weight: 580;
  font-size: 10px;
}
.dropdown-search {
  border: 1px solid #003b6a;
  outline: #003b6a;
  padding: 10px 15px;
  margin: 10px 20px;
  border-radius: 10px;
}
.emptydiv {
  height: 50px;
  border-bottom: 2px solid #003b6a;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.custom__label {
  font-size: 10px;
  color: gray;
  margin-left: 10px;
}

#text {
  color: gray;
}
#select_count {
  font-weight: 800;
  margin-right: 10px;
}

.dropdown-options {
  height: 130px;
  overflow-y: scroll;
  background-color: #eff1f2;
}
:host ::ng-deep.mat-checkbox-layout .mat-checkbox-label {
  line-height: 24px;
  color: black;
}

.save__config__button {
  padding: 5px 20px;
  border-radius: 5px;
  background-color: #335d88;
  background-color: gray;
  color: white;
  border: none;
}

.Upload__file__span {
  font-size: 15px;
}

.filterTopPortion {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:host ::ng-deep .mat-dialog-container {
  display: block;
  padding: 24px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  min-width: 500px;
  width: 100%;
  height: 100%;
  min-height: inherit;
  max-height: inherit;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10vh;
  margin-left: -5vw;
}
.menu-item {
  border: 1px solid;
  position: absolute;
  top: 35%;
  right: 0;
  margin-right: 4rem;
}
::ng-deep span.view-grid {
  color: #007bc0 !important;
  font-size: 1.2rem;
  margin-top: -0.6rem;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.searchOptions {
  // background-color: #f5f5f5;
  height: 44px;
  display: flex;
  align-items: center;
  padding: 0px 5px 0 0;
}
.paddings{
  padding: 0 0.95em;
}
.textBox{
  background: #E0E2E5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
  margin: 0px 5px 0px 5px;

}
.textBox input
{
  background:#E0E2E5;
  height: 39px;
  outline: none;
  border: none;
  padding: 5px 10px;
  width: 170px;
 
}

::placeholder {
  color: bold black;
}

.columnSettingsSection {
  display: flex;
  align-items: center;
}

.columnSettingsSection > * {
  margin-left: 5px;
}

.saveConfigHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.selectColoumnTitle {
  font-size: 12px;
}
// .saveFilterTitle {
//   font-size: 12px;
//   // color: #007bc0;
//   cursor: pointer;
//   padding: 6px;
// }

// .saveFilterTitle:hover {
//   background-color: #007bc0;
//   color: white;
//   padding: 6px;
// }
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background{
  background-color: #007bc0 !important;
}

.saveConfigCheckBox {
  display:flex;
  flex-wrap: wrap;
  padding: 10px;
  flex-direction: column;
  min-width: 200px;
  height: 200px;
  overflow-x: auto;

}
.button-columnsettings{
  outline: none;
  border:none;
  width: 170px;
  height: 37px;
  margin-top: -20px;
  background: none;
  cursor: pointer
}

.small-checkbox .mat-checkbox-inner-container {
  width: 10px !important;
  height: 10px !important;
}

.small-checkbox .mat-checkbox-label > span {
  font-size: 3px !important;
}

::ng-deep .small-checkbox .mat-checkbox-inner-container {
  width: 10px !important;
  height: 10px !important;
}

::ng-deep .small-checkbox .mat-checkbox-label {
  font-size: 10px !important;
}

// .saveConfigCheckBox::-webkit-scrollbar {
//   // display: none;
//   scrollbar-width: 5px;
//   width:5px !important;
// }

/* Hide scrollbar for IE, Edge and Firefox */
// .saveConfigCheckBox {
//   -ms-overflow-style: none;  /* IE and Edge */
//   scrollbar-width: none;  /* Firefox */
// }

::ng-deep .saveConfigCheckBox {
  -ms-overflow-style: none !important;
  scrollbar-width: thin !important;
}

::ng-deep .saveConfigChips {
  scrollbar-width: thin !important;
}

.saveConfigChips {
  // margin-top: -10px;
  padding: 10px;
  border-top: 1px solid lightgray;
  display: flex;
  flex-wrap: wrap;
  height: 80px; //100px
  // overflow-y: scroll;
  overflow-y: auto;
  position: relative;
}

.chips {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 2px 5px;
  padding: 3px;
}
.chipsText {
  font-size: 10px;
}

// style="position:absolute; bottom:20px;right : 10px;"
.saveConfigResetFilters {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  // position:absolute;
  // bottom:20px;
  // right : 10px;
  // color:
  color: #007bc0;
  padding-bottom: 10px;
  padding-right: 10px;
}

.saveConfigResetFilters > span {
  font-size: 12px;
  cursor: pointer;
  padding: 6px;
}

.saveConfigResetFilters > span:hover {
  background-color: #007bc0;
  color: white;
  padding: 6px;
}
.mainMasterGrid {
  // width:97.5vw;
  width: 100%;
  height: 60vh;
  // height: fit-content;
  // overflow: scroll;
}

::ng-deep ::-ms-scrollbar {
  width: 100px !important;
}

::ng-deep .saveConfigCheckBox::webkit-scrollbar {
  width: 100px !important;
}

::ng-deep .saveConfigCheckBox::moz-scrollbar {
  width: 100px !important;
  // scrollbar-width: thin;
}

:host ::ng-deep .saveConfigCheckBox::webkit-scrollbar {
  width: 100px !important;
}
.vendor_block_right {
  width: 15%;
  max-width: 15%;
  float: right;
}
.vendor_block_left {
  width: 15%;
  max-width: 15%;
  float: left;
}
.data_block {
  width: 43%;
  float: left;
}
.filter_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 100%;
  border: 1px solid #e5e0e4;
}

.filter_outer_block {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mat_icon {
  cursor: pointer;
}
.checkbox_color {
  color: #003c6a;
}
.last_sync_header {
  color: gray;
  margin: 0 2px;
  font-size: 12px;
}
.last_sync_value {
  color: #707070;
  margin: 0 2px;
  font-size: 12px;
  padding: 0px 5px;
}
.mat-select-arrow-wrapper {
  height: 1px;
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
}

.mat-dialog-container {
  display: block;
  padding: 24px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  min-width: 500px;
  width: 100%;
  height: 100%;
  min-height: inherit;
  max-height: inherit;
}

:host ::ng-deep .mat-dialog-container {
  display: block;
  padding: 24px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  min-width: 500px;
  width: 100%;
  height: 100%;
  min-height: inherit;
  max-height: inherit;
}

.upload-file-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdownTest {
  position: relative;
  display: inline-block;
}

.dropdown-contentTest {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownTest:hover .dropdown-contentTest {
  display: block;
}

.dropdown-contentTest div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-contentTest div:hover {
  background-color: #f1f1f1;
}

.ag-row .ag-cell {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // text-align: center;
  font-family: Bosch Sans !important;
}
lastSync{
  color: gray;
  margin: 0 2px;
  font-size : 12px;
} 

lastSeen {
  color: #707070;
  margin: 0 2px;
  font-size: 12px;
  padding: 0px 5px;

}

button {
  cursor:pointer;
}
.save-btn {
  color: #fff;
  background: #007bc0;
  font-family: Bosch-Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  line-height: 22px;
  cursor: pointer;
  width: 50px;
  border-width: 1px;
  border-style: solid;
  border-radius: 0;
  padding: 2px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}
.highLightCls {
  color: #007bc0;
}
.save-button1{
  cursor: pointer;
  color: #007bc0;
  padding-right: 15px;
  
}
.save-button1:hover{
text-decoration: underline;
}