  <div class="header-items">
    <div class="title">
        <p mat-dialog-title class="custom-dialog">Record Owner Update</p>
    </div>
    <div>
        <mat-icon matTooltip="Close" class="close-btn" (click)="onClose($event)"
          >close</mat-icon
        >
    </div>
</div>
  <div class="spinner" *ngIf="showLoading">
    <lib-spinner></lib-spinner>
  </div>
  <div class="erroMessageTag" *ngIf="showErroMessage">
        <span>{{errorMessage}}</span>
  </div>
  <mat-dialog-content>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div style="display: flex;justify-content:flex-start;align-items: center;">
      <mat-form-field style="width: 50%;">
        <mat-label>Choose User</mat-label>
        <mat-select formControlName="ownerEno" (selectionChange)="OnOwnerChange($event)">
          <input class="inputsearch" type="text" autocomplete="on"  matInput placeholder="Search" 
          (keydown)="handleInput($event)"
           (input)="OnEmploySearch($event)">
          <mat-option *ngFor="let option of dropdownList"  [value]="option.id">{{option.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field style="width: 100%;padding: 8px 0;">
        <mat-label class="popup-lebel">Remarks </mat-label>
        <input maxlength="500" matInput placeholder="remark" formControlName="remark"
        (keydown)="space($event)" />
        <mat-error
        *ngIf="
        myForm.controls['remark'].touched &&
        myForm.controls['remark'].invalid">Please Fill Remarks
        </mat-error>
      </mat-form-field>
    </div>
    <div class="action-btn">
      <button class="cancel-btn" mat-raised-button color="primary" type="button" (click)="onClose($event)">Cancel</button>
      <button  class="save-btn" mat-raised-button color="primary" type="submit"
      [disabled]="myForm.invalid">Save</button>
    </div>
  </form>
  
  </mat-dialog-content>