.mainblock{
  margin: 0.75em;
}
.mainMasterGrid {
  width: 100%;
  height: 60vh;
}
.remove-border-bottom .mat-tab-header {
  border-bottom: none;
}
.main-list{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 0.5px solid #a1a1a1;
  padding:5px
}
.left-list{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 4px 5px 0 5px;
}
.createaop{
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #008ecf;
}
.align
{
  display:flex;
  align-items: center;
}
.plan{
  display:flex;
  align-items:center;
 justify-content: space-between;
}
.scrollable-dialog {
  overflow-y: auto;
  /* Adjust the maximum height as needed */
}
.searchOptions {
  display: flex;
  align-items: center;
  margin-top: 0.75em;
}
.paddings{
  padding: 0 0.95em;
}
.textBox{
  background: #E0E2E5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
  margin: -15px 5px 0 5px;
  padding: 0.05em 0.15em;

}
.textBox input
{
  background: #E0E2E5;
  height: 39px;
  outline: none;
  border: none;
  padding: 5px 10px;
  width: 150px;
 
}

::placeholder {
  color:  black;
}
.multiSelectDropDownSearch{
  position: relative;
  width: 64px;
  z-index: 10;
  margin-top: 0px;
}
.columnSettingsSection
{
  display:flex;
  align-items:center;
  color:#000;

}

.columnSettingsSection > * 
{
  margin-left: 5px;
}
.triangle 
{ 

  position:absolute;
  left: 65px;
  width: 0;   
  height: 0;   
  border-left: 35px solid transparent;   
  border-right: 35px solid transparent; 
  border-bottom: 60px solid #fffffe;
  z-index: 20;  

}
.dropdown-menu{
  position: absolute;
  top: 50px;
  right: -400px;
  background-color: white;
  margin-top: 5px;
  z-index: 10;
  min-width: 550px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border:none;
}
.saveConfigHeader
{
  display:flex;
  align-items:center;
  justify-content: space-between;
  padding: 10px;
  
}
.selectColoumnTitle
{
  font-size: 12px;
}
.saveFilterTitle
{
  font-size: 12px;
  color: #008ecf;
  cursor: pointer;
  padding: 6px;
}
.saveFilterTitle:hover{
  background-color: #008ecf;
  color: white;
  padding: 6px;
}
.saveConfigCheckBox
{
  display:flex;
  flex-wrap: wrap;
  padding: 10px;
  flex-direction: column;
  min-width: 200px;
  height: 200px;
  overflow-x: auto;

}
.custom__options{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:5px 5px;
}


.small-checkbox .mat-checkbox-inner-container {
  width: 13px !important;
  height: 13px  !important;

}

.small-checkbox .mat-checkbox-label > span {
  font-size: 3px !important;
}

::ng-deep .small-checkbox .mat-checkbox-inner-container {
  width: 10px !important;
  height: 10px !important;

}

::ng-deep .small-checkbox .mat-checkbox-label {
  font-size: 12px !important;
}
::ng-deep .saveConfigChips
{
  scrollbar-width: thin !important; 
}

.saveConfigChips
{

  padding: 10px;
  border-top: 1px solid lightgray;
  display:flex;
  flex-wrap: wrap;
  height: 89px; 
  overflow-y: hidden;
  position: relative;

}
.chips
{
  display:flex;
  align-items:center;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 2px 5px;
  padding:3px;
}
.chipsText
{
  font-size: 10px;
}
.saveConfigResetFilters
{
  display:flex;
  align-items:center;
  justify-content: flex-end;
  color: #008ecf;
  padding-bottom: 10px;
  padding-right: 10px; 
}

.saveConfigResetFilters > span
{
  font-size: 12px;
  cursor: pointer;
  padding: 6px;
}

.saveConfigResetFilters > span:hover{
  background-color: #008ecf;
  color: white;
  padding: 6px;
}
.button-columnsettings{
  outline: none;
  border:none;
  width: 170px;
  height: 37px;
  margin-top: -20px;
  background: none;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background{
  background-color: #008ecf !important;
}
::ng-deep .mat-form-field-underline {
  position: absolute;
  width: 100%;
  pointer-events: none;
  transform: scale3d(1, 1.0001, 1);
  display: none;
}
.filterTopPortion {
  background: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  
}
.filterTopPortion1 {

  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px; 
  padding-bottom: 10px;

}
/* mat-form-field */
::placeholder {
  color: bold black;
}
.mat-form-field {
  display: inline-block;
  text-align: left;
  min-width: 25%;
  padding-right: 1rem;
  width: auto;
  height: 60px;
}
::ng-deep .mat-form-field-label-wrapper {
  padding: 6px;
  margin-left: 2px;
}
::ng-deep .mat-form-field-flex {
  background: #e0e2e5 !important;
}

::ng-deep
  .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label,
.mat-form-field-appearance-legacy.mat-form-field-can-float
  .mat-input-server:focus
  + .mat-form-field-label-wrapper
  .mat-form-field-label {
  padding: 3px;
}

::ng-deep.mat-focused.mat-form-field-label {
  color: #007bc0 !important;
}

::ng-deep.mat-form-field-underline {
  background-color: #007bc0;
}

::ng-deep.mat-form-field-ripple {
  background-color: #007bc0 !important;
}
.mat-form-field-flex
> .mat-form-field-infix
.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
.mat-form-field-label {
transform: translateY(-1.1em) scale(0.75);
width: 180px;
}
.mat-form-field-label-wrapper {
top: -1.1em;
}
::ng-deep
  .mat-form-field.mat-form-field:not(.mat-focused):not(.mat-form-field-disabled)
  .mat-form-field-flex {
  background-color: #e0e2e5;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  padding-left: 0px;
  padding-top: 0px;
}
.button-secondary {
  color: #007bc0;
  font-family: Bosch-Sans;
  font-size: 16px;
  cursor: pointer;
  width: 93px;
  border-width: 1px;
  border-color: #007bc0;
  border-style: solid;
  border-radius: 0;
  padding: 5px;
  align-items: center;
  justify-content: center;
}
.action_text{
  font-size: 14px;
  color: #008ecf;
}
.pagesize-dropdown{
  width: 100%; 
  margin: 0 10px;
}
.highLightCls {
  color: #007bc0;
}
.save-button1{
  cursor: pointer;
  color: #007bc0;
  padding-right: 15px;
  
}
.save-button1:hover{
text-decoration: underline;
}