<div class="approval-section-heading">
  <div class="approval-section-border">
    <ag-grid-angular
      class="ag-theme-alpine"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [rowData]="srnList"
      [paginationPageSize]="10"
      [paginationAutoPageSize]="false"
      [paginateChildRows]="true"
      [animateRows]="true"
      [pagination]="true"
      [suppressAggFuncInHeader]="true"
      (gridReady)="MysowjdSignoffList($event)"
      [autoGroupColumnDef]="autoGroupColumnDef"
      (firstDataRendered)="onFirstDataRendered($event)"
      [suppressMenuHide]="true"
      (filterChanged)="onFilterChanged($event)"
      (horizontalScroll)="onHorizontalScroll($event)"
      (sortChanged)="onSortChanged($event)"
      [overlayLoadingTemplate]="loadingTemplate"
      [overlayNoRowsTemplate]="noRowsTemplate"
    ></ag-grid-angular>
  </div>
</div>
