* {
  font-family: Bosch Sans;
  letter-spacing: 0px;
  opacity: 1;
}
.approve-header {
  display: flex;
  margin: 0;
  span {
    font-size: 22px;
  }
}

.table-head {
  border: 1px solid;
  background-color: #fff;
}

.approval-section-heading {
  .align-btn {
    display: flex;
    justify-content: space-between;
  }
  .approval-content-heading {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
  }
  .approval-section {
    padding: 16px;
    margin: 16px 0;
    background-color: #f5f5f5;
  }
}
.container-fluid {
  .row {
    padding-bottom: 0;
  }
  .row > .col div:first-child,
  .row > .col-3 div:first-child,
  .row > .col-6 div:first-child {
    font-weight: bold;
    line-height: 26px;
  }
  .row > .col div:last-child,
  .row > .col-3 div:last-child,
  .row > .col-6 div:last-child {
    word-break: break-all;
  }
}
.mat-dialog-title {
  font-weight: bold;
  font-size: 18px;
}
.approval-heading {
  font-size: 20px;
}
.mat-dialog-content {
  overflow: hidden;
}

.approval-section-move {
  padding: 6px 24px;
  display: flex;
  .approval-content {
    padding: 0 12px;
    .title {
      font-weight: bold;
      padding-bottom: 4px;
    }
  }
}

.half-way-left {
  height: 40px;
  background-color: #eee;
  width: 49%;
  padding-top: 8px;
}

.allign-right {
  text-align: right;
}
.half-way-right {
  height: 40px;
  background-color: #eee;
  margin-left: 10px;
  padding-top: 8px;
}
.score-tr {
  border: 1px solid;
}
.score-remarks {
  font-weight: bold;
}

.tablecontentstyle {
  width: 25%;
  padding: 8px;
  font-weight: bold;
  vertical-align: middle;
}

.bg-success {
  background-color: #37a264 !important;
}

.bg-danger {
  background-color: #ff5152 !important;
}

.bg-warning {
  background-color: #ffcf00 !important;
}

.bg-common {
  border-radius: 13px;
  text-align: end;
  padding: 0 20px 0 6px;
}

.statusbarremarks {
  font-size: 12px;
}

.progress {
  height: 18px;
  width: 70%;
  border-radius: 10px;
  background: #bfc0c2;
}

.sub-main-bar {
  padding: 16px 0;
}

.main-bar {
  width: 100%;
  background: #eeeeee;
}

.resultprogressbar {
  text-align: center;
  padding: 1% 12%;
}

.overall-score {
  font-weight: bold;
  padding-bottom: 10px;
  font-size: 16px;
}
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  font-weight: bold;
}
.approve-title {
  font-size: 16px;
  font-weight: bold;
}

.mat-dialog-container {
  margin: 0 auto 30px !important;
  height: auto !important;
  overflow: initial !important;
}

.mat-dialog-content {
  max-width: none !important;
  max-height: none !important;
  overflow: initial !important;
}

:host
  ::ng-deep
  .mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-outer-circle,
.mat-radio-outer-circle {
  border-color: #007bc0 !important;
  background: #007bc0;
}
:host ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: white !important;
}
:host
  ::ng-deep
  .mat-radio-button.mat-accent
  .mat-radio-button.mat-accent.mat-radio-checked {
  background-color: Gray;
}
.comment {
  width: 100%;
}
.main-form {
  display: flex;
  align-items: flex-start;
}
.right-portion {
  flex-grow: 1;
  margin-left: 10px;
  border: 2px solid black;
}
.table-align {
  width: 100%;
}
.action-form {
  padding: 20px 0;
}
.example-full-width {
  width: 100%;
}
.btn-action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.btn-action .fst {
  padding-right: 24px;
}
.btn-action .fst-btn {
  padding: 10px;
}
.space {
  margin-left: 10px;
}

.finalresultprogressbar {
  text-align: center;
  padding: 1% 12%;
  width: 100%;
}
.score-header-align {
  height: auto !important;
}
.statusText1 {
  font-size: 10px;
  font-weight: bold;
}
.ownermainblock {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 2px 12px;
}
.OwnerBlock {
  background-color: rgb(224, 245, 255);
  border-radius: 25px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 2px 12px;
}
