// .tab-title {
//   text-align: left;
//   font: normal normal bold 26px/60px Bosch Sans;
// }

// .tab-title {
//   text-align: left;
//   font: normal normal bold 26px/60px Bosch Sans;
// }
// .columnmargin {
//   margin: auto;
// }
// .select-column-save {
//   display: flex;
//   justify-content: space-between;
// }
// .save-config-checkBox {
//   width: 540px;
//   height: 155px;
// }
// .reset-filter {
//   display: flex;
//   justify-content: flex-end;
// }
// .textBox input {
//   background: #bfc0c2;
//   height: 30px;
//   outline: none;
//   border: none;
//   padding: 5px 10px;
//   width: 200px;
//   border-bottom: 2px solid black;
// }
// .padding {
//   padding: 15px;
// }
.highLightCls {
    color: #007bc0;
  }
  .save-button1{
    cursor: pointer;
    color: #007bc0;
    padding-right: 15px;
    
  }
  .save-button1:hover{
  text-decoration: underline;
  }