<div class="main_block">
  <div class="container-fluid filter-wrapper">
    <div class="filterTopPortion">
      <div class="searchOptions">
        <div class="textBox">
          <input
            matInput
            placeholder="Search"
            [(ngModel)]="filterValue"
            (input)="onFilterTextBoxChanged()"
          />
          <span class="searchgrey_planning paddings"
            >&nbsp;&nbsp;&nbsp;&nbsp;</span
          >
        </div>

        <div
          class="multiSelectDropDownSearch"
          (click)="onDropdownClick($event)"
        >
          <div>
            <button class="button-columnsettings" (click)="toggleDropdown()">
              <div
                class="columnSettingsSection"
                (click)="setActiveItem('myaction-column-settings')"
                [ngClass]="
                  activeItem === 'myaction-column-settings'
                    ? 'highLightCls'
                    : ''
                "
              >
                <span class="settingsblack_planning"
                  >&nbsp;&nbsp;&nbsp;&nbsp;</span
                >
                <span>Column Settings</span>
              </div>
            </button>
            <div
              class="triangle"
              [ngClass]="{ show: dropdownVisible }"
              *ngIf="dropdownVisible"
            ></div>

            <div
              class="dropdown-menu"
              [ngClass]="{ show: dropdownVisible }"
              *ngIf="dropdownVisible"
            >
              <div class="saveConfigHeader">
                <span class="selectColoumnTitle">Select Column</span>
                <div class="save-button" (click)="saveMyActionColumns()">
                  Save Filter
                </div>
              </div>
              <div class="saveConfigCheckBox">
                <div *ngFor="let option of columnDefs">
                  <div class="custom__options" *ngIf="option.field">
                    <span *ngIf="!option.dontShow">
                      <mat-checkbox
                        class="small-checkbox"
                        [(ngModel)]="!option.hide"
                        (ngModelChange)="toggleMySubmissions(option.field)"
                      >
                        {{ option.headerName }}
                      </mat-checkbox>
                    </span>
                  </div>
                </div>
              </div>
              <div class="saveConfigResetFilters">
                <div class="column-settings-footer">
                  <div class="save-button" (click)="selectAllColumns()">
                    Select All
                  </div>
                  <div class="save-button" (click)="unSelectAllColumns()">
                    Unselect All
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="filterTopPortion1">
        <div class="inner-right-btn">
          <div class="righttitle">
            <div class="button-wrappper">
              <button
                mat-button
                class="arrow space"
                (click)="onBtnExport('My_Actions')"
              >
                <div class="btn-wrapper">
                  <div class="icon">
                    <span class="export"></span>
                  </div>
                  <div class="btn-name">Export</div>
                </div>
              </button>
            </div>
          </div>

          <div class="page-size-select">
            <mat-form-field class="pagesize-dropdown">
              <mat-label class="page-size-label"> Page Size</mat-label>
              <mat-select
                class="px-2"
                [(ngModel)]="paginationPageSize"
                (selectionChange)="OnPageSizeChange($event)"
              >
                <mat-option [value]="5">5 </mat-option>
                <mat-option [value]="10">10 </mat-option>
                <mat-option [value]="15">15 </mat-option>
                <mat-option [value]="20">20 </mat-option>
                <mat-option [value]="25">25 </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="px-2">
            <span class="refresh" title="Refresh data" (click)="getMyactions()"
              >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mainMasterGrid">
    <ag-grid-angular
      class="ag-theme-alpine"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [rowData]="rowData"
      [paginationPageSize]="paginationPageSize"
      [paginationAutoPageSize]="false"
      [paginateChildRows]="true"
      [animateRows]="true"
      [pagination]="true"
      (gridReady)="onGridReady1($event)"
      (cellClicked)="onCellClicked($event)"
      [autoGroupColumnDef]="autoGroupColumnDef"
      (firstDataRendered)="onFirstDataRendered($event)"
      [suppressMenuHide]="true"
      [overlayNoRowsTemplate]="overlayNoRowsTemplate"
      (horizontalScroll)="onHorizontalScroll($event)"
      (sortChanged)="onSortChanged($event)"
    ></ag-grid-angular>
  </div>
</div>
