<div class="add-resource-page">
  <div class="header">
    <div class="title">Float RFQ</div>
    <div class="close-btn">
      <mat-icon matTooltip="Close" (click)="cancel()">close</mat-icon>
    </div>
  </div>

  <form [formGroup]="addVendorForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col">
        <app-search-bar-vendor
          (selectionChangeEvent)="changedEventValue($event)"
          [labelValue]="'Vendor Name'"
          [sowJdId]="data.sowJdId"
          [isRequired]="true"
          [searchPlaceholder]="'vendorName'"
          [searchPlaceholderId]="'vendorId'"
        ></app-search-bar-vendor>
      </div>
      <div class="col">
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Vendor ID</mat-label>
          <input matInput [value]="vendorId" disabled />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>SOWJD ID</mat-label>
          <input matInput [value]="sowJdDetail?.sowJdNumber" disabled />
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Company</mat-label>
          <input matInput [value]="sowJdDetail?.companyFullName" disabled />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Location</mat-label>
          <input matInput [value]="sowJdDetail?.resourceLocation" disabled />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Location Mode</mat-label>
          <input matInput [value]="sowJdDetail?.outsourcingType" disabled />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>Remarks</mat-label>
          <textarea
            matInput
            placeholder="Remarks"
            formControlName="remarks"
          ></textarea>
          <mat-error
            *ngIf="
              addVendorForm.controls['remarks'].invalid &&
              addVendorForm.controls['remarks'].touched
            "
          >
            Please add remarks
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="button-wrappper btn-align">
      <button
        mat-button
        class="btn-hover arrow space"
        type="button"
        (click)="cancel()"
      >
        <div class="btn-wrapper">
          <div class="btn-name">Cancel</div>
        </div>
      </button>
      <button
        mat-button
        class="btn-hover-primary arrow space"
        type="submit"
        [disabled]="addVendorForm.invalid"
      >
        <div class="btn-wrapper">
          <div class="btn-name">Submit</div>
        </div>
      </button>
    </div>
  </form>
</div>
