<form [formGroup]="myForm" (ngSubmit)="onSave()">
  <mat-dialog-content class="scrollable-dialog">
        <div class="main-form">
          <div class="left-form">
            <h2>Add Resource</h2>
          </div>
          <div class="right-form1">
            <mat-icon matTooltip="Close" class="close-btn" (click)="onClose($event)"
            >close</mat-icon
          >
          </div>
        </div>
        <div class="spinner_planning" *ngIf="showLoading">
          <lib-spinner></lib-spinner>
        </div>
        <div class="erroMessageTag" *ngIf="showErroMessage">
              <span>{{errorMessage}}</span>
        </div>
        <div class="spacer"></div>
       
        <div class="commonstyle">
            <mat-form-field class="mat-formpaddingleft">
                <mat-label>Skillset</mat-label>
                <mat-select formControlName="skillsetId"
                (selectionChange)="OnSkillchange($event)" 
                required
                (openedChange)="onOpenChange(multiUserSearch)"
                >
                <input style="padding: 0.95em;" #multiUserSearch type="text" autocomplete="off" 
                matInput placeholder="Search" (input)="onInputChange($event)" (keydown)="handleInput($event)"/>
                  <mat-option *ngFor="let skill of filteredProviders" [value]="skill.id">
                    {{skill.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
      
          <mat-form-field class="mat-formpaddingleft">
            <mat-label>Grade</mat-label>
            <mat-select formControlName="gradeId"
            (selectionChange)="OnGradechange($event)" required>
              <mat-option *ngFor="let skill of grade" [value]="skill.id">
                {{skill.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
     
          <mat-form-field class="mat-formpaddingleft">
            <mat-label>Location</mat-label>
            <mat-select formControlName="locationId"
            (selectionChange)="OnLocationchange($event)"  required>
              <mat-option *ngFor="let loc of location" [value]="loc.id">
                {{loc.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
          <mat-form-field class="mat-formpaddingleft">
            <mat-label>Location Mode</mat-label>
            <mat-select formControlName="locationModeId"
            (selectionChange)="OnLocationmodechange($event)" required>
              <mat-option *ngFor="let locmod of locationMode" [value]="locmod.id">
                {{locmod.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
       
          <mat-form-field class="mat-formpaddingleft">
            <mat-label>GB</mat-label>
            <mat-select formControlName="gbId"
            (selectionChange)="OnGbchange($event)" required>
              <mat-option *ngFor="let gb of gb" [value]="gb.id">
                {{gb.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="mat-formpaddingleft">
            <mat-label>Vendor</mat-label>
            <mat-select formControlName="vendorId"
            (selectionChange)="OnVendorchange($event)" required
            (openedChange)="onOpenChangeVendor(multiUserSearch)"
            >
            <input style="padding: 0.95em;" #multiUserSearch type="text" autocomplete="off" 
            matInput placeholder="Search" (input)="onInputChangeVendor($event)" (keydown)="handleInput($event)"/>
              <mat-option *ngFor="let vendor of filteredProvidersVendor" [value]="vendor.id">
                {{vendor.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="mat-formpaddingleft">
            <mat-label>VKM Price </mat-label>
            <input
            [(ngModel)]="receivedData.vkmPrice"
            formControlName="vkmPrice"
              matInput
              min="0"
              maxlength="14"
              (change)="onVKMPriceChange()"
              (keypress)="decimalFilter($event)"
              placeholder=""
              required
            />
          
          </mat-form-field>
       
          <mat-form-field class="mat-formpaddingleft">
            <mat-label>Skillset Type</mat-label>
            <mat-select formControlName="skillSetType" readonly  required>
              <mat-option *ngFor="let skilltype of skillSetType" [value]="skilltype.id">
                {{skilltype.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="mat-formpaddingleft">
            <mat-label>Price </mat-label>
            <input
            formControlName="gradePrice"
              matInput
              readonly
            />
          </mat-form-field>
        </div>
      
        <label><b>Supply Planning</b></label>
        <ag-grid-angular
          class="ag-theme-alpine" 
          rowAnimation 
          [rowData]="rowData"
          [columnDefs]="columnDefs"
          [defaultColDef]="defaultColDef" 
          [autoGroupColumnDef]="autoGroupColumnDef"
          (gridReady)="onGridReady($event)"
          (firstDataRendered)="onFirstDataRendered($event)"
          [suppressMenuHide]="true" 
          [editType]="'fullRow'"
          (input)="onInput($event)"
          (filterChanged)="onFilterChanged($event)"
          (horizontalScroll)="onHorizontalScroll($event)"
          (sortChanged)="onSortChanged($event)"
         
        ></ag-grid-angular 
        >
  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <button class="cancel-btn" mat-raised-button color="primary" (click)="onClose($event)">Cancel</button>
    <button class="save-btn" mat-raised-button color="primary" type="submit"
      [disabled]="myForm.invalid">Save</button> 
  </div>
</form>