.myForm {
  margin-top: 4rem;
}
.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  padding: 2rem;
  min-width: 20%;
}

::ng-deep .mat-form-field-label-wrapper {
  padding: 6px;
  margin-left: 2px;
}

::ng-deep.mat-form-field-appearance-legacy .mat-form-field-infix {
  background: #e0e2e5;
  padding: 6px;
  color: gray;
}
::ng-deep .mat-form-field-flex {
  background: #e0e2e5 !important;
}

::ng-deep
  .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label,
.mat-form-field-appearance-legacy.mat-form-field-can-float
  .mat-input-server:focus
  + .mat-form-field-label-wrapper
  .mat-form-field-label {
  padding: 3px;
}
.title {
  margin-left: 2rem;
  font-size: 1.2rem;
  text-decoration: underline;
}
.save-btn {
  height: 2.5rem;
  width: 5rem;
  border-radius: 0;
  background-color: #007bc0;
  margin-left: 1rem;
  margin-right: 5rem;
}
.cancel-btn {
  height: 2.5rem;
  width: 5rem;
  border-radius: 0;
  background-color: #ffffff;
  color: #007bc0;
  border: 1px solid #007bc0;
}
.header-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.action-btn {
}
